{% load static %}

<div class="md-modal" id="md-modal">
  <div class="md-content">
    {% block md_content %}{% endblock %}
  </div>
</div>
<div class="md-overlay"></div>
<script type="text/template" id="item_detail_template">
  <div class="image">
    <img src="{% static 'store_imgs/' %}${item.fields.sku}.JPG" />
  </div>
  <div class="detail">
    <div class="common">
      <p>${item.fields.name}</p>
      <p>Price: $${item.fields.price}</p>
      <p>Description: ${item.fields.description}</p>
    </div>
  </div>
  <div class="ops">
    <button class="add" data-id="${item.pk}">Add To Cart</button>
    <button class="close">Close</button>
  </div>
</script>
<script type="text/javascript">
  $(document).keydown(function(e) {
    if (e.keyCode == 27) {
      $('.md-show').removeClass('md-show');
      $('.md-content .header a').show();
    }
  });
  $('#md-modal').delegate('.add','click',function(){
    addToCart($(this).data('id'));
    $('#md-modal').removeClass('md-show');
  });
  $('#md-modal').delegate('.close','click',function(){
    $('#md-modal').removeClass('md-show');
  });
  $('.md-overlay').click(function(){
    $('#md-modal').removeClass('md-show');
  });

  var item_detail_template = $.template(null,$('#item_detail_template').html());
  $('article > ul').delegate('li','click',function(e){
    if (e.target.tagName.toLowerCase() == 'i') {
      addToCart($(e.target).data('id'));
      return false;
    }
    var o = $(this).data('o');
    if (o.remark) {
      var json_decoded = JSON.parse(o.remark);
      if (json_decoded && json_decoded.crs) {
        o.name = o.name.substr(0, 1) + o.name.substr(1).toLowerCase();
        o.bookinfo = json_decoded;
      }
    }
    $.tmpl(item_detail_template,{'item':o}).appendTo($('#md-modal .md-content').empty());
    $('#md-modal').addClass('md-show');
  });
</script>
