#cart-wrapper {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border: 1px solid #d3d3d3;
  min-height: 150px;
}

#success-container {
  width: 540px;
  height: 150px;
  margin-top: 100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border: 1px solid #d3d3d3;
  display: none;
}

#success-container p {
  position: absolute;
  top: 50px;
  right: 30px;
  font-size:14px;
  line-height: 20px;
}

#success-container img {
  position: absolute;
  top: 40px;
  left: 40px;
}

#delivery-wrapper {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border: 1px solid #d3d3d3;
  margin-top: 20px;
}

#cart-container {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin-bottom: 20px;
  margin-top:20px;
}

#delivery-container {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin-bottom: 20px;
}

#checkout-button {
  margin-bottom: 10px;
}

#cart-header {
  font-size: 20px;
  margin: 20px;
}

#delivery-header {
  font-size: 20px;
  margin: 20px;
}

#items-in-cart-summary-container {
  background-color : rgb(245,252,245);
  border-top: 1px solid #e6e6e6;
  height : 110px;
  padding : 10px;
}
#items-in-cart-summary-table {
  width: 150px;
  float: right;
  margin-right: 75px;

}

#items-in-cart-summary-table tr td {
  font-size: 15px;
  text-align: right;
  height: 25px;
}
#cart-footer {
  width : 600px;
  height : 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
}
#cart-footer p {
  color: grey;
}

#summary-tax, #summary-delivery {
  color: grey;
}

#summary-total {
  color: #375b1b;
  font-weight: bold;
}

#delivery-container-table tr td {
  height: 30px;
  padding: 10px;
  font-size: 14px;
  vertical-align:text-top; 
}
#delivery-container input {
  border: 1px solid #d3d3d3;
  line-height: 22px;
}
#delivery_postcode {
  width: 80px;
}
#delivery_address {
  width: 300px;
}
#time-window-container-table input {
  margin-right: 5px;
}

.cart-empty-msg {
  font-size: 16px;
  color: #7e7e7e;
  text-align: center;
  margin-bottom: 40px;
}

.cart-btn-return {
  width: 100px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

.disabled {
  color: #d3d3d3;
}
