.item-info-wrapper {
  float: left;
  padding-top: 5px;
  width: 530px;
}
.item-in-cart {
  height : 80px;
  width : 600px;
  padding: 10px;
}
.item-in-cart-img {
  height : 70px;
  width : 70px;
  float : left;
  background: #d3d3d3;
}
.item-in-cart-name {
  margin-left: 20px;
  font-size: 13px;
  width: 350px;
  float: left;
  font-size: 14px;
}

.item-in-cart-store {
  float: left;
  margin-left: 20px;
}
.item-in-cart-price {
  height : 20px;
  font-size: 16px;
  margin-left: 20px;
}
.num-spinner {
  width: 30px;
  float: left;
  height: 14px;
  margin: 0 10px 5px 5px;
  padding: 0px 4px 1px 4px;  
}
.item-info-left {
  width: 400px;
}

.item-in-cart-count {
  font-size: 14px;
}