{% extends "common/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static "styles/home.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "styles/cart_button.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "styles/item_article.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "styles/item_detail.css" %}"/>
{% endblock %}

{% block header_content %}
{% include 'common/cart_button.html' %}
{% endblock %}

{% block content %}
<div class="banner">
  <img src="{% static 'imgs/' %}" alter="Banner" />
</div>
<div class="stores">
  <ul>
    {% for store in stores %}
    <li>
      <img src="{% static 'imgs/' %}logos/{{ store.slug }}.png">
    </li>
    {% endfor %}
  </ul>
</div>
<div class="deals">
  {% for store in stores %}
  <div class="deal-sale">
    <header>Deal OF THE WEEK</header>
    <article data-source="{% url 'shop:store_featured_items' store.slug 'deal_of_the_week' '' %}">
      <ul></ul>
      <div class="loading"></div>
    </article>
  </div>
  {% endfor %}
</div>x
{% endblock %}

{% block page_script %}
{% include "common/item_detail.html" %}
{% include "common/item.html" %}
<script type="text/javascript">
  var articles = $('.deals article');
  articles.each(function(i, element) {
    load_items($(element), '', null);
  });
</script>
{% endblock %}
