{% extends "common/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static "styles/home.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "styles/cart_button.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "styles/item_article.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "styles/item_detail.css" %}"/>
{% endblock %}

{% block header_content %}
{% include 'common/cart_button.html' %}
{% endblock %}

{% block content %}
<div class="banner">
  <img src="{% static 'imgs/' %}home_banner.png" alter="Banner" />
</div>
<div class="stores">
  <header>Select a store</header>
  <ul>
    {% for store in stores %}
    <li>
      <a href="{% url 'shop:store_home' store.slug %}">
        <img src="{% static 'imgs/logos/' %}{{ store.slug }}.png">
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="benefits">
  <div class="benefit">
    <img class="benefit-img" src="{% static 'imgs/intro/' %}local.png" />
    <div class="benefit-title">Shop locally</div>
    <div class="benefit-description">Use Fruitex to see best items at stores in your neighborhood. </div>
  </div>
  <div class="benefit">
    <img class="benefit-img" src="{% static 'imgs/intro/' %}items.png" />
    <div class="benefit-title">Over 2000 items</div>
    <div class="benefit-description">We have everything on your daily shopping list. </div>
  </div>
  <div class="benefit">
    <img class="benefit-img" src="{% static 'imgs/intro/' %}delivery.png" />
    <div class="benefit-title">Fast same day delivery</div>
    <div class="benefit-description">Everything you order will be delivery to your home in 2 hours</div>
  </div>
  <div class="benefit">
    <img class="benefit-img" src="{% static 'imgs/intro/' %}fee.png" />
    <div class="benefit-title">Only $3.99 per order</div>
    <div class="benefit-description">Nothing complex. We charge only 3.99 per order. </div>
  </div>
</div>
<div class="deals">
  <header>Deals of the week</header>
  <div class="deal-sale">
    <article data-source="{% url 'shop:all_featured_items' 'deal_of_the_week' '' %}">
      <ul></ul>
      <div class="loading"></div>
    </article>
  </div>
</div>
{% endblock %}

{% block page_script %}
{% include "common/item_detail.html" %}
{% include "common/item.html" %}
<script type="text/javascript">
  var articles = $('.deals article');
  articles.each(function(i, element) {
    load_items($(element), '', null);
  });
</script>
{% endblock %}
