{% load static %}
<html>
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <link rel="stylesheet" type="text/css" href="{% static "styles/global.css" %}"/>
      <link rel="stylesheet" type="text/css" href="{% static "styles/base.css" %}"/>
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
      <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
      <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
      <script src={% static "javascript/jquery.cookie.js" %}></script>
      <script src={% static "javascript/common.js" %}></script>
      <script src={% static "javascript/global.js" %}></script>
    </head>
    <body>
        <div id='bar'>
            {% include "banner.html" %}
        </div>
        <div id='content'>
            {% block content %} {% endblock %}
        </div>
        <div id='footer'>
            {% include "footer.html" %}
        </div>
    <body>
    <script>
      $(document).ready(function () {
        if(isIE(8, 'lte')) {
          window.location = '/not-support/';
        }
      })
    </script>
</html>
