{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "styles/cart.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "styles/itemlist.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "styles/input_validator.css" %}"/>
<script src={% static "javascript/itemlist.js" %}></script>
<script src={% static "javascript/input_validator.js" %}></script>
<script src={% static "javascript/cart.js" %}></script>

<div id='cart-wrapper'>
  <p id="cart-header">Your cart</p>
  <div id='cart-container'> 
  </div>
  <div id='items-in-cart-summary-container'></div>
</div>
<div id='delivery-wrapper'>
  <p id="delivery-header">Delivery Info</p>
  <div id='delivery-container'>
    <form id='checkout-form' action="confirm/" method="POST">
    <table id="delivery-container-table">
      <tr>
        <td>Name</td>
        <td>
          <input type="text" name="name" id="delivery_name"></input>
        </td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>
          <input type="text" name="phone" id="delivery_phone"></input>
        </td>
      </tr>
      <tr>
        <td>Address</td>
        <td>
          <input type="text" name="address" id="delivery_address"></input>
        </td>
      </tr>
      <tr>
        <td>Post Code</td>
        <td>
          <input type="text" name="postcode" id="delivery_postcode"></input>
        </td>
      </tr>
      <tr>
        <td>Time Window</td>
        <td>
          <table id="time-window-container-table">
            <tr>
              <td>
                Today:
              </td>
              <td>
                <input type="radio" name="time" value="12:00-14:00">
                12:00-14:00
              </td>
              <td>
                <input type="radio" name="time" value="16:00-18:00">
                16:00-18:00
              </td>
              <td>
                <input type="radio" name="time" value="20:00-22:00">
                20:00-22:00
              </td>
            </tr>
            <tr>
              <td>
                Tommorow:
              </td>
              <td>
                <input type="radio" name="time" value="tomorrow 12:00-14:00" checked="checked">
                12:00-14:00
              </td>
              <td>
                <input type="radio" name="time" value="tomorrow 16:00-18:00">
                16:00-18:00
              </td>
              <td>
                <input type="radio" name="time" value="tomorrow 20:00-22:00">
                20:00-22:00
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table> 
    <input type="hidden" name="ids" id="delivery_item_ids"/>
    </form>
  </div>
</div>
<div id='cart-footer'>
 <img id='checkout-button' src={% static "imgs/btn_checkout.png" %}></img> 
</div>
<script>
  $("#delivery_item_ids").attr('value', $.cookie('cart'));
  $("#checkout-button").click(function() {
    if (isValidUserInput()) {
      $("#checkout-form").submit();
      clearCart();
    }
  }); 
</script>
<div id="success-container">
  <p>Thanks for choosing us. <br /> 
     Your order has been successfully submited.
  </p>
  <img src={% static "imgs/order_success_submit.png" %}></img>
</div>
{% endblock %}
