{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static "styles/confirm.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "styles/itemlist.css" %}"/>
<script src={% static "javascript/itemlist.js" %}></script>
<div id='order-confirm-wrapper'>
  <p id="order-confirm-header">You Order Confirmation</p>
  <p id="order-confirm-invoice">Your Invoice#: {{ invoice }}</p>
  <div id="order-confirm-item-list">
  </div>
  <table id='order-confirm-table'>
  	<tbody>  	
  	<tr>
  		<td>
  			Delivery Fee:
  		</td>
  		<td>
  			${{ delivery }}
  		</td>
  	</tr>
  	<tr>
  		<td>
  			Total Cost (Tax Inc.):
  		</td>
  		<td>
  			${{ total }}
  		</td>
  	</tr>
  	<tr>
  		<td>
  			Name:
  		</td>
  		<td>
  			{{ name }}
  		</td>
  	</tr>
  	<tr>
  		<td>
  			Address:
  		</td>
  		<td>
  			{{ address }}
  		</td>
  	</tr>
  	<tr>
  		<td>
  			ZIP:
  		</td>
  		<td>
  			{{ postcode }}
  		</td>  	
  	</tr>
  	<tr>
  		<td>
  			Phone:
  		</td>
  		<td>
  			{{ phone }}
  		</td>
  	</tr>
  	<tr>
  		<td>
  			Delivery Time:
  		</td>
  		<td>
  			{{ delivery_window }}
  		</td>
  	</tr>

	</tbody>
	</table>
</div>
<div id='payment-container'>
      <p id='payment-title'>Payment with PayPal</p>
      <span id='payment-note-title'>Do not have a paypal account?</span>
      <span>You can always pay with credit card</span>
      <img id='payment-note' src={% static "imgs/paypal_note.png" %}></img>
    <div id='paypal-container'>
      {% if sandbox %}
        {{ form.sandbox }}
      {% else %}
        {{ form.render }}
      {% endif %}
    </div>
  </div>
<script>
	$(document).ready(function () {
		ItemList({{ ids }}, false).generate($("#order-confirm-item-list"));
	});
</script>
{% endblock %}
