{% extends "home_base.html" %}
{% load static %}
{% load compress %}

{% block store_list %}
  {% compress js inline %}
    <script src={% static "javascript/store_list.js" %}></script>
  {% endcompress %}
  <link rel="stylesheet" type="text/css" href="{% static "styles/store_list.css" %}"/>
  <ul id='store-list'>
    <li id='store-title'>
      Stores
    </li>
    <li id='sobeys'>
      Sobeys
    </li>
    <li id='bookstore'>
      WLU Bookstore
    </li>
  </ul>
{% endblock %}

{% block category %}
  {% compress js inline %}
    <script src={% static "javascript/category.js" %}></script>
  {% endcompress %}
  <script> 
    $(document).ready(function() {
      initCategory({{ category | safe }}, {{ labels | safe }});
    });
  </script>
  <link rel="stylesheet" type="text/css" href="{% static "styles/category.css" %}"/>
{% endblock %}

{% block items %}
  <link rel="stylesheet" type="text/css" href="{% static "styles/home.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "styles/item_detail.css" %}"/>
  <script src={% static "javascript/item_detail.js" %}></script>
  {% compress js inline %}
      <script src={% static "javascript/home.js" %}></script>
  {% endcompress %}
<div id="popular-item-list">
</div>
<div id='item-list'>
</div>
<div id='navigator'>
  <div id='navigator-next' class='navigator'>
    <img src={% static "imgs/arrow_right.png"%}>
  </div>
  <div id='navigator-prev' class='navigator'>
    <img src={% static "imgs/arrow_left.png"%}>
  </div>
</div>
{% endblock %}

{% block adleft %}
<div class="customer-service-container">
  <span class="customer-service-title">Need help?</span>
  <p>
    <img src={% static "imgs/icon_email.png" %}>
    <a>support@fruitex.ca</a>
  </p>  
  <p>
    <img src={% static "imgs/icon_phone.png" %}>
    <a>(226)606-4578</a>
  </p>
</div>
<!--<img class='ad' src={% static "imgs/ad_side.png"%}>-->
{% endblock %}

{% block ad %}
{% endblock %}