{% extends "itemlistbase.html" %}
{% load static %}
{% load compress %}

{% block category %}
  {% compress js inline %}
    <script src={% static "javascript/category.js" %}></script>
  {% endcompress %}
  <script> 
    $(document).ready(function() {
      initCategory({{ category | safe }}, {{ labels | safe }});
    });
  </script>
  <link rel="stylesheet" type="text/css" href="{% static "styles/category.css" %}"/>
{% endblock %}

{% block items %}
  <link rel="stylesheet" type="text/css" href="{% static "styles/itemlist.css" %}"/>
  {% compress js inline %}
      <script src={% static "javascript/itemlist.js" %}></script>
  {% endcompress %}
<div id='item-list'>
</div>
<div id='navigator'>
  <div id='navigator-next' class='navigator'>
    <img src={% static "imgs/arrow_right.png"%}>
  </div>
  <div id='navigator-prev' class='navigator'>
    <img src={% static "imgs/arrow_left.png"%}>
  </div>
</div>
{% endblock %}

{% block adleft %}
<img src={% static "imgs/ad_side.png"%}>
{% endblock %}

{% block ad %}
<img src={% static "imgs/ad_sobeys.png"%}>
{% endblock %}