{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "styles/order_manager.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "styles/itemlist.css" %}"/>
<script src={% static "javascript/order_manager.js" %}></script>
<script src={% static "javascript/itemlist.js" %}></script>
<button id='btn-buy-list'>Generate Shopping List</button>
<div id='orders-wrapper'>
  <p id="order-header">Orders</p>
</div>

<div id='buy-list'>

</div>

<script>
$(document).ready(function() {
  var orders = {{ orders | safe }};
  OrderManager(orders, $('#orders-wrapper')).init();
 });
</script>

{% endblock %}
