{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "styles/cart.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "styles/itemlist.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "styles/input_validator.css" %}"/>
<script type="text/javascript" src="{% static "javascript/lib/underscore.min.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/lib/jquery.tmpl.min.js" %}"></script>
<script src={% static "javascript/input_validator.js" %}></script>

<form id='checkout-form' action="{% url 'order:cart' %}" method="POST">
<div id='cart-wrapper'>
  <p id="cart-header">Your cart</p>
  <div id='cart-container'>
    {% for store, items in store_items.items %}
      {% for item in items %}
      <div class="item-in-cart" id="item-{{ item.obj.id }}" data-id="{{ item.obj.id }}" data-json="{{ item.json }}">
        <img class="item-in-cart-img" src="{% static ''%}{{ item.obj.category.store.slug }}_imgs/{{ item.obj.sku }}.JPG">
        <div class="item-info-wrapper">
          <div class="item-info-left">
            <span class="item-in-cart-name">{{ item.obj.name }}</span>
            <span class="item-in-cart-store">From: {{ item.obj.category.store.name }}</span>
            <label><input type="checkbox" name="allow_sub_detail[{{ item.obj.id }}]" checked="">Allow substitution</label>
          </div>
          <input class="item-quantity num-spinner" name="quantity[{{ item.obj.id }}]" value="{{ item.quantity }}" data-id="{{ item.obj.id }}" autocomplete="off">
          <span class="item-in-cart-price">$ </span>
        </div>
      </div>
      {% endfor %}
      <div class="cart-store-summary">
        <div>Store: {{ store.name }}</div>
        <div>Delivery Options:
          <select name="delivery_choices[{{ store.slug }}]">
          {% for option in store.delivery_options.all %}
          {% if option.in_effect %}
          <option value="{{ option.id }}">{{ option.name }}</option>
          {% endif %}
          {% endfor %}
          </select>
        </div>
      </div>
    {% endfor %}
  </div>
  <div id="coupon-container">
    <label>Coupon: </label>{{ checkout_form.coupon_code }}{{ checkout_form.coupon_code.errors }}
    <img class="tick hidden" src="{% static 'imgs/tick.png' %}"></img>
  </div>
  <div id='items-in-cart-summary-container'>
  </div>
</div>
<div id='delivery-wrapper'>
  <p id="delivery-header">Delivery Info</p>
  <div id='delivery-container'>
    {{ form.non_field_errors }}
    <table id="delivery-container-table">
      <tr>
        <td>Name</td>
        <td>
          {{ checkout_form.name }}{{ checkout_form.name.errors }}
        </td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>
          {{ checkout_form.phone }}{{ checkout_form.phone.errors }}
        </td>
      </tr>
      <tr>
        <td>Email</td>
        <td>
          {{ checkout_form.email }}{{ checkout_form.email.errors }}
        </td>
      </tr>
      <tr>
        <td>Address</td>
        <td>
          {{ checkout_form.address }}{{ checkout_form.address.errors }}
        </td>
      </tr>
      <tr>
        <td>Post Code</td>
        <td>
          {{ checkout_form.postcode }}{{ checkout_form.postcode.errors }}
        </td>
      </tr>
    </table>
  </div>
</div>
<input type="hidden" name="datetime" id="datetime"/>
{% csrf_token %}
</form>
<div id='cart-footer'>
 <button id="checkout-button">CHECK OUT</button>
</div>
<script type="text/template" id="summary_template">
  <table id="items-in-cart-summary-table">
    <tbody>
      <tr id="summary-sum">
        <td class="summary-label">Subtotal : </td>
        <td class="summary-value">$ ${subtotal.toFixed(2)}</td>
      </tr>
      <tr id="summary-tax">
        <td class="summary-label">HST : </td>
        <td class="summary-value">$ ${hst.toFixed(2)}</td>
      </tr>
      <tr id="summary-delivery">
        <td class="summary-label">Delivery : </td>
        <td class="summary-value">$ ${delivery.toFixed(2)}</td>
      </tr>
      {% templatetag openvariable %}if discount > 0.0 {% templatetag closevariable %}
      <tr id="summary-discount">
        <td class="summary-label">Discount : </td>
        <td class="summary-value">$ ${discount.toFixed(2)}</td>
      </tr>
      {% templatetag openvariable %}/if{% templatetag closevariable %}
      <tr id="summary-total">
        <td class="summary-label">Total : </td>
        <td class="summary-value">$ ${total.toFixed(2)}</td>
      </tr>
    </tbody>
  </table>
</script>
<script type="text/javascript">
$(document).ready(function() {
  // Gather items data
  var items = _.object(_.map($('.item-in-cart'), function(el) {
    return [$(el).data('id'), $(el).data('json')];
  }));
  var datetime = {{ datetime|date:"U" }};

  // Defualt no coupon
  var coupon = null;

  var updateSummary = function() {
    var summary_template = $.template(null,$('#summary_template').html());
    var subtotal = 0.0;
    var hst_total = 0.0;
    var delivery = 4.0;
    var discount = 0.0;

    // Calculate subtotal for all items
    $('.item-in-cart').each(function(i, el) {
      var id = $(el).data('id');
      var item = items[id];
      var unit_price = item.fields.on_sale ? item.fields.sales_price : item.fields.price
      var quantity = $(el).find('.item-quantity').val();
      var tax_class = parseFloat(item.fields.tax_class)
      var price = parseFloat(unit_price) * quantity;
      var hst = price * tax_class;
      subtotal += price;
      hst_total += hst;
    });

    // Calculate coupon discount
    // TODO: handle percentage coupon
    if (coupon != null) {
      discount = parseFloat(coupon.value);
    }

    var html = $.tmpl(summary_template,{
      'subtotal':subtotal,
      'hst':hst_total,
      'delivery':delivery,
      'discount':discount,
      'total':subtotal + hst_total + delivery - discount
    });

    $('#items-in-cart-summary-container').html(html);
  };

  var updateCart = function() {
    var item_ids = [];
    $(".item-quantity").each(function(i, spinner) {
      spinner = $(spinner);
      for (var i = 0; i < spinner.val(); i++) {
        item_ids.push(parseInt(spinner.data('id')));
      }
    });
    $.cookie('cart', JSON.stringify(item_ids), { path: '/' });
  };

  var updateItemPriceTag = function(id, quantity) {
    var item = items[id];
    var unit_price = item.fields.on_sale ? item.fields.sales_price : item.fields.price
    var price = parseFloat(unit_price) * quantity;

    var item_price_el = $('#item-' + id).find('.item-in-cart-price');
    item_price_el.text('$ ' + price.toFixed(2));
  };

  var updateQuantity = function(id, quantity) {
    updateItemPriceTag(id, quantity);
    updateSummary();
    updateCart();
  };

  var isCartEmpty = function() {
    return !$.cookie('cart') || JSON.parse($.cookie('cart')).length == 0;
  };

  var isValidUserInput = function() {
    var v = InputValidator;
    v.init();
    return v.nonEmpty($("input[name=name]")) && v.nonEmpty($("input[name=phone]"))
        && v.nonEmpty($("input[name=address]")) && v.nonEmpty($("input[name=postcode]"))
        && v.phone($("input[name=phone]")) && v.zip($("input[name=postcode]"))
        && v.email($("input[name=email]"));
  };

  // Checkout button
  $("#checkout-button").click(function() {
    if (coupon == null) {
      $('#id_coupon_code').val('');
    }
    if (isValidUserInput()) {
      $('#datetime').val(datetime);
      $("#checkout-form").submit();
    }
  });

  // Coupon input
  $('#id_coupon_code').keyup(function () {
    var tick = $('#coupon-container .tick');
    var code = $('#id_coupon_code').val();
    var url_template = '{% url "order:coupon" "coupon_code" %}';

    $.get(url_template.replace('coupon_code', code), function(data) {
      if (data.length > 0) {
        coupon = data[0].fields;
        updateSummary();
        tick.removeClass('hidden');
      } else {
        coupon = null;
        updateSummary();
        tick.addClass('hidden');
      }
    }, 'json');
  });

  if (isCartEmpty()) {
    $('.item-in-cart').remove()
    $('#items-in-cart-summary-container').remove();
    $('#cart-footer').remove();
    $('#coupon-container').remove();
    $('#delivery-wrapper').remove();
    $("#cart-container").append($('<p>').text('Seems like your cart is empty.').addClass('cart-empty-msg'));
    $("#cart-container").append($('<p>').text('Return to shop')
      .addClass('cart-btn-return')
      .click(function () {
        window.location = '{% url "shop:to_default" %}';
      }));
  } else {
    // Setup spinner actions and update quantity prices
    $('.item-quantity').spinner({
      min: 0,
      max: 100,
      step: 1,
    }).each(function(i, spinner) {
      spinner = $(spinner);
      updateItemPriceTag(spinner.data('id'), spinner.val());
    }).on('spinstop', function (e) {
      updateQuantity($(this).data('id'), $(this).val());
    });

    updateSummary();
  }
});
</script>
{% endblock %}
