{% extends "common/base.html" %}
{% load static %}
{% load collection_extra %}
{% load widget_tweaks %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/cart.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'styles/itemlist.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'styles/input_validator.css' %}"/>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{% static 'javascript/input_validator.js' %}"></script>
{% endblock %}

{% block content %}
<div id='cart-wrapper' class="order-section-wrapper">
  <div id="cart-header" class="order-section-header">
    <span class="cart-header-go-back"><a href="{% url 'order:cart' %}">&lt;&lt; Change your cart</a></span>
    <h3>Confirm Your Order Items</h3>
  </div>
  <div id='cart-container' class="order-section-container">
    {% for store, items in store_items.items %}
      {% for item in items %}
      <div class="item-in-cart" id="item-{{ item.obj.id }}" data-id="{{ item.obj.id }}" data-json="{{ item.json }}">
        <div>
          <img class="item-in-cart-img" src="{% static 'store_imgs/' %}{{ item.obj.sku }}.JPG">
        </div>
        <div class="item-info-left">
          <div class="item-in-cart-name">{{ item.obj.name }}</div>
          <div class="item-in-cart-store">From: {{ item.obj.category.store.name }}</div>
          <div><label><input type="checkbox" name="allow_sub_detail[{{ item.obj.id }}]" disabled {% if allow_sub_detail|dict_val:item.obj.id %} checked="" {% endif %}>Allow substitution</label></div>
        </div>
        <div>
          <input class="item-in-cart-quantity num-spinner" name="quantity[{{ item.obj.id }}]" value="{{ item.quantity }}" data-id="{{ item.obj.id }}" data-max="{{ item.obj.max_quantity_per_order }}" autocomplete="off" disabled>
        </div>
        <div class="item-in-cart-price">$ </div>
      </div>
      {% endfor %}
      <div class="cart-store-summary">
        <div>Store: {{ store.name }}</div>
        <div>Delivery: {{ delivery_options|dict_val:store }}</div>
      </div>
    {% endfor %}
  </div>
  <div id="coupon-container">
    <label>Coupon: <input id="id_coupon_code" name="coupon_code" type="text" value="{{ coupon_code }}" disabled></label>
    <img class="tick hidden" src="{% static 'imgs/tick.png' %}"></img>
  </div>
  <div id='items-in-cart-summary-container'>
  </div>
</div>
<iframe id="ifm-login" src="{% url 'login' %}" class="hidden"></iframe>
<iframe id="ifm-register" src="{% url 'registration_register' %}" class="hidden"></iframe>
<form id='checkout-form' action="{% url 'order:checkout' %}" method="POST">
<div id='delivery-wrapper' class="order-section-wrapper">
  <div id="delivery-header" class="panel panel-default">
    <div class="panel-heading col-sm-12">
      <h3 class="col-sm-8">Delivery Info</h3>
      {% if not user.is_authenticated %}
      <div class="btn-group pull-right">
        <button class="btn btn-default" id="acc-chk-login" data-toggle="button">Login</button>
        <button class="btn btn-default" id="acc-chk-register" data-toggle="button">Register</button>
      </div>
      <div class="clearfix"></div>
      <div id="acc-chk-pnl" class="bg-info well-sm">
        <div id="acc-chk-login-pnl" class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" id="login-id_username" name="username" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="login-id_password" name="password" placeholder="Password">
          </div>
          <button type="button" class="btn btn-primary" id="login-submit">Login</button>
          <!--
          <a href="{% url 'password_reset' %}" class="btn btn-default hidden">Forget Password</a>
          -->
        </div>
        <div id="acc-chk-register-pnl" class="form-inline ">
          <div class="form-group">
            <input type="text" class="form-control" id="register-id_username" name="username" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="register-id_password1" name="password1" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="register-id_password2" name="password2" placeholder="Password Confirm">
          </div>
        </div>
      </div>
      {% else %}
      <input type="hidden" id="user-id_firstname" value="{{ user.first_name }}" />
      <input type="hidden" id="user-id_lastname" value="{{ user.last_name }}" />
      <input type="hidden" id="user-id_email" value="{{ user.email }}" />
      <input type="hidden" id="user-id_phone" value="{{ user.get_profile.phone }}" />
      <input type="hidden" id="user-id_address" value="{{ user.get_profile.address }}" />
      <input type="hidden" id="user-id_postcode" value="{{ user.get_profile.postcode }}" />
      <div clas="col-sm-2 pull-right">
        <span class="label label-primary">Welcome back, {{ user.username }}</span>
        <p></p><!-- separater -->
        <div class="btn-group">
          <a href="{% url 'profile' %}" class="btn btn-default">My Profile</a>
          <a href="{% url 'logout' %}" class="btn btn-default">Logout</a>
        </div>
      </div>
      <div class="clearfix"></div>
      {% endif %}
    </div>
  </div>

  <div id='delivery-container' class="panel-body">
    <div id="errors" class="alert alert-warning"></div>
    {{ form.non_field_errors }}
    <div class="form-horizontal col-sm-11" role="form">
      <div class="form-group"></div>
      <div class="form-group">
        <label for="id_name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-5">
          {{ checkout_form.name|add_class:"form-control" }}
        </div>
        <div class="col-sm-5">
          {{ checkout_form.name.errors }}
        </div>
      </div>
      <div class="form-group">
        <label for="id_phone" class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-5">
          {{ checkout_form.phone|add_class:"form-control" }}
        </div>
        <div class="col-sm-5">
          {{ checkout_form.phone.errors }}
        </div>
      </div>
      <div class="form-group">
        <label for="id_email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-5">
          {{ checkout_form.email|add_class:"form-control" }}
        </div>
        <div class="col-sm-5">
          {{ checkout_form.email.errors }}
        </div>
      </div>
      <div class="form-group">
        <label for="id_address" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-5">
          {{ checkout_form.address|add_class:"form-control" }}
        </div>
        <div class="col-sm-5">
          {{ checkout_form.address.errors }}
        </div>
      </div>
      <div class="form-group">
        <label for="id_postcode" class="col-sm-2 control-label">Postal Code</label>
        <div class="col-sm-5">
          {{ checkout_form.postcode|add_class:"form-control" }}
        </div>
        <div class="col-sm-5">
          {{ checkout_form.postcode.errors }}
        </div>
      </div>
      <div class="form-group">
        <label for="id_comment" class="col-sm-2 control-label">Comment</label>
        <div class="col-sm-5">
          {{ checkout_form.comment|add_class:"form-control" }}
        </div>
        <div class="col-sm-5">
          {{ checkout_form.comment.errors }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="order-section-wrapper payment-wrapper">
  <div  class="order-section-header payment-header">
    <h3>Payment</h3>
  </div>
  <div class="order-section-container payment-container">
    <table class="order-table payment-table">
      <tr>
        <td>Payment Method</td>
        <td>
          {{ checkout_form.payment_method }}{{ checkout_form.payment_method.errors }}
        </td>
      </tr>
    </table>
  </div>
</div>
<input type="hidden" name="datetime" id="datetime"/>
{% csrf_token %}
</form>
<div id='cart-footer'>
 <button class="cart-button" id="checkout-button">CHECKOUT</button>
</div>
{% endblock %}

{% block page_script %}
<script type="text/template" id="summary_template">
  <table id="items-in-cart-summary-table">
    <tbody>
      <tr id="summary-sum">
        <td class="summary-label">Subtotal : </td>
        <td class="summary-value">$ ${subtotal.toFixed(2)}</td>
      </tr>
      <tr id="summary-tax">
        <td class="summary-label">HST : </td>
        <td class="summary-value">$ ${hst.toFixed(2)}</td>
      </tr>
      <tr id="summary-delivery">
        <td class="summary-label">Delivery : </td>
        <td class="summary-value">$ ${delivery.toFixed(2)}</td>
      </tr>
      {% templatetag openvariable %}if discount > 0.0 {% templatetag closevariable %}
      <tr id="summary-discount">
        <td class="summary-label">Discount : </td>
        <td class="summary-value">$ ${discount.toFixed(2)}</td>
      </tr>
      {% templatetag openvariable %}/if{% templatetag closevariable %}
      <tr id="summary-total">
        <td class="summary-label">Total : </td>
        <td class="summary-value">$ ${total.toFixed(2)}</td>
      </tr>
    </tbody>
  </table>
</script>
<script type="text/javascript">

$(document).ready(function() {
  // Gather items data
  var items = _.object(_.map($('.item-in-cart'), function(el) {
    return [$(el).data('id'), $(el).data('json')];
  }));
  var datetime = {{ datetime|date:"U" }};
  var account_check = {};

  $('#login-submit').click(function() {
    var ifm = $("#ifm-login");
    var frm = ifm.contents().find("form#form-login");
    if(frm.length < 1) {
      return;
    }
    var fields = $("input[id^='login-id']");
    fields.each(function(idx, el) {
      el = $(el);
      var name = el.attr('name');
      var targetEl = frm.find("input[name='"+ name + "']");
      targetEl.val(el.val());
    });
    frm.submit();
    ifm.load(function() {
      var errors = $("#errors");
      errors.empty();
      errors.hide();
      ifm.off('load');
      var ifmErrors = ifm.contents().find("#errors");
      if(ifmErrors.length > 0) {
        errors.html(ifmErrors.html());
        errors.show();

      } else {
        //NOTE: it's expcted we are in profile page.Otherwise show error message
        var fields = ifm.contents().find("td[id^='id_']");
        if(fields.length > 0) {
          location.reload();
          //$("#acc-chk-pnl, #acc-chk-login, #acc-chk-register").hide();
        } else {
          errors.html("<p>Login failed. Please try again later or report this account to us. Thank you</p>");
          errors.show();
          // it's highly possible the iframe is not in login page any more.
          ifm.prop('src', ifm.prop('src'));
        }
      }
    });
  });

  var isRegisterOk = function(cbfunc) {
    var accountOption = $("#acc-chk-register");
    if(!accountOption.hasClass("active")) {
      cbfunc();
      return true;
    }
    var ifm = $("#ifm-register");
    var frm = ifm.contents().find("form");
    if(frm.length < 1) {
      return false;
    }
    var fields = $("input[id^='register-id'], input[id^='id_'], textarea[id^='id_']");
    fields.each(function(idx, el){
      el = $(el);
      var name = el.attr('name');
      var tagName = el.prop('tagName');
      var targetEl = frm.find(tagName + "[name='" + name + "']");
      targetEl.val(el.val());
    });
    // value adapter: first, last name
    var $fullname = $("#id_name");
    if($fullname.length > 0) {
      var firstname = $fullname.val();
      var lastname = firstname;
      var idxSpc = firstname.indexOf(' ');
      if(idxSpc > -1) {
        lastname = firstname.substr(idxSpc+1);
        firstname = firstname.substring(0, idxSpc);
      }
      frm.find("#id_firstname").val(firstname);
      frm.find("#id_lastname").val(lastname);
    }
    frm.submit();
    ifm.load(function() {
      var errors = $("#errors");
      errors.empty();
      errors.hide();
      ifm.unbind("load");
      var ifmErrors = ifm.contents().find("#errors");
      var seenError = false;
      if(ifmErrors.length > 0) {
        errors.html(ifmErrors.html());
        seenError = true;
      }
      ifmErrors = ifm.contents().find(".errors");
      ifmErrors.each(function(idx, elem){
        var $elem = $(elem); // Assume the form is using bootstrap styling
        var label = $elem.parent().parent().find("label");
        $elem.text(label.text() + $elem.text());
        errors.append($elem);
        seenError = true;
      });
      if(seenError) {
        errors.show();
        return false;
      }

      account_check.username = $("#register-id_username").val();
      location.reload(); //NOTE: reload form since crsf token expired after login
      //cbfunc();
    });
  };

  $("#login-id_password").keypress(function(evt){
    if(evt.which == 13) {
      $("#login-submit").click();
      evt.preventDefault();
    }
    //evt.stopPropagation();
  });

  $("#acc-chk-login").click(function(evt){
    var other = $("#acc-chk-register");
    var pnlContainer = $("#acc-chk-pnl");
    var otherPnl = $("#acc-chk-register-pnl");
    var thisPnl = $("#acc-chk-login-pnl");
    if($(this).hasClass('active')) {
      thisPnl.hide();
      pnlContainer.slideUp();
    } else {
      if(other.hasClass('active')) {
        other.button('toggle');
        otherPnl.hide();
      }
      thisPnl.show();
      pnlContainer.slideDown();
      $("#login-id_username").focus();
    }
  });

  $("#acc-chk-register").click(function(evt){
    var other = $("#acc-chk-login");
    var pnlContainer = $("#acc-chk-pnl");
    var otherPnl = $("#acc-chk-login-pnl");
    var thisPnl = $("#acc-chk-register-pnl");
    if($(this).hasClass('active')) {
      thisPnl.hide();
      pnlContainer.slideUp();
    } else {
      if(other.hasClass('active')) {
        other.button('toggle');
        otherPnl.hide();
      }
      thisPnl.show();
      pnlContainer.slideDown();
      $("#register-id_username").focus();
    }
  });

  var detectUser = function() {
    var fields = $("input[id^='user-']");
    if(fields.length > 0) {
      fields.each(function(idx, el) {
        el = $(el);
        var id = el.attr('id'); // so we could
        var name = id;
        var idxHyphen = id.indexOf("-");
        if(idxHyphen > -1) {
          name = id.substr(idxHyphen+1);
        }
        var targetEl = $("#" + name);
        targetEl.val(el.val());
      });

      var firstname = $("#user-id_firstname");
      var lastname = $("#user-id_lastname");
      var fullname = firstname.val();
      if(lastname.length > 0 && fullname != lastname.val()) {
        fullname += " " + lastname.val();
      }
      $("#id_name").val(fullname);
    }
  };

  // Defualt no coupon
  var coupon = null;

  var checkCoupon = function () {
    var tick = $('#coupon-container .tick');
    var code = $('#id_coupon_code').val();
    var url_template = '{% url "order:coupon" "coupon_code" %}';

    $.get(url_template.replace('coupon_code', code), function(data) {
      if (data.length > 0) {
        coupon = data[0].fields;
        updateSummary();
        tick.removeClass('hidden');
      } else {
        coupon = null;
        updateSummary();
        tick.addClass('hidden');
      }
    }, 'json');
  };

  var updateSummary = function() {
    var summary_template = $.template(null,$('#summary_template').html());
    var subtotal = 0.0;
    var hst_total = 0.0;
    var delivery = 0.99;
    var discount = 0.0;

    // Calculate subtotal for all items
    $('.item-in-cart').each(function(i, el) {
      var id = $(el).data('id');
      var item = items[id];
      var unit_price = item.fields.on_sale ? item.fields.sales_price : item.fields.price
      var quantity = $(el).find('.item-in-cart-quantity').val();
      var tax_class = parseFloat(item.fields.tax_class)
      var price = parseFloat(unit_price) * quantity;
      var hst = price * tax_class;
      subtotal += price;
      hst_total += hst;
    });

    // Calculate coupon discount
    // TODO: handle percentage coupon
    if (coupon != null) {
      discount = parseFloat(coupon.value);
    }

    var html = $.tmpl(summary_template,{
      'subtotal':subtotal,
      'hst':hst_total,
      'delivery':delivery,
      'discount':discount,
      'total':subtotal + hst_total + delivery - discount
    });

    $('#items-in-cart-summary-container').html(html);
  };

  var updateCart = function() {
    var item_ids = [];
    $(".item-in-cart-quantity").each(function(i, spinner) {
      spinner = $(spinner);
      for (var i = 0; i < spinner.val(); i++) {
        item_ids.push(parseInt(spinner.data('id')));
      }
    });
    $.cookie('cart', JSON.stringify(item_ids), { path: '/' });
  };

  var updateItemPriceTag = function(id, quantity) {
    var item = items[id];
    var unit_price = item.fields.on_sale ? item.fields.sales_price : item.fields.price
    var price = parseFloat(unit_price) * quantity;

    var item_price_el = $('#item-' + id).find('.item-in-cart-price');
    item_price_el.text('$ ' + price.toFixed(2));
  };

  var updateQuantity = function(id, quantity) {
    updateItemPriceTag(id, quantity);
    updateSummary();
    updateCart();
  };

  var isValidUserInput = function() {
    var v = InputValidator;
    v.init();
    return v.nonEmpty($("input[name=name]")) && v.nonEmpty($("input[name=phone]"))
        && v.nonEmpty($("input[name=address]")) && v.nonEmpty($("input[name=postcode]"))
        && v.phone($("input[name=phone]")) && v.zip($("input[name=postcode]"))
        && v.email($("input[name=email]"));
  };

  // Checkout button
  $("#checkout-button").click(function() {
    if (isValidUserInput()) {
      $('#datetime').val(datetime);
      isRegisterOk(function() {
        if(account_check.username) {
          alert("Thank you for register " + account_check.username + "!");
        }
        $("#checkout-form").submit();
      });
    }
  });

  // Item quantity
  $('.item-in-cart-quantity').on('input change', function() {
    var quantity = parseInt($(this).val());
    var max = $(this).spinner( "option", "max" );
    if (isNaN(quantity)) {
      quantity = 0;
    }
    if (max > 0 && quantity > max) {
      alert('I\'m Sorry, but we can not carry more than ' + max + ' of this item per order. ');
      quantity = max;
    }
    $(this).val(quantity);
  });

  $('.item-in-cart-quantity').spinner().each(function(i, spinner) {
    spinner = $(spinner);
    updateItemPriceTag(spinner.data('id'), spinner.val());
    spinner.spinner('disable');
  });

  $("#acc-chk-login, #acc-chk-register").button();
  $("#acc-chk-pnl, #acc-chk-register-pnl, #acc-chk-login-pnl").hide();
  $("#errors").hide();
  checkCoupon();
  detectUser();
});
</script>
{% endblock %}
