{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static "styles/confirm.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "styles/itemlist.css" %}"/>
<script src={% static "javascript/itemlist.js" %}></script>
<div id='order-confirm-wrapper'>
  <p id="order-confirm-header">You Order Confirmation</p>
  <p id="order-confirm-invoice">Your Invoice#: {{ invoice.invoice_num }}</p>
  <div id="order-confirm-item-list">
    {% for order in invoice.orders.all %}
      {% for order_item in order.order_items.all %}
      <div class="item-in-cart">
        <img class="item-in-cart-img" src="{% static ''%}{{ order_item.item.category.store.slug }}_imgs/{{ order_item.item.sku }}.JPG">
        <div class="item-info-wrapper">
          <div class="item-info-left">
            <span class="item-in-cart-name">{{ order_item.item.name }}</span>
            <span class="item-in-cart-store">From: {{ order_item.item.category.store.name }}</span>
            <label>
              <input type="checkbox" {% if order_item.allow_sub %} checked="" {% endif %} disabled="disabled">
              Allow substitution
            </label>
          </div>
          <span class="item-in-cart-count">Quatity: {{ order_item.quantity }}</span>
          <span class="item-in-cart-price">$ {{ order_item.item_cost|floatformat:2 }}</span>
        </div>
      </div>
      {% endfor %}
      <div class="item-list-order-summary">
        Delivery: {{ order.delivery_window }}
      </div>
    {% endfor %}
  </div>
  <table id='order-confirm-table'>
    <tbody>
    <tr>
      <td>
        Delivery Fee:
      </td>
      <td>
        ${{ invoice.shipping|floatformat:2 }}
      </td>
    </tr>
    <tr>
      <td>
        Total Cost (Tax Inc.):
      </td>
      <td>
        ${{ invoice.total|floatformat:2 }}
      </td>
    </tr>
    <tr>
      <td>
        Name:
      </td>
      <td>
        {{ invoice.customer_name }}
      </td>
    </tr>
    <tr>
      <td>
        Address:
      </td>
      <td>
        {{ invoice.address }}
      </td>
    </tr>
    <tr>
      <td>
        ZIP:
      </td>
      <td>
        {{ invoice.postcode }}
      </td>
    </tr>
    <tr>
      <td>
        Phone:
      </td>
      <td>
        {{ invoice.phone }}
      </td>
    </tr>
    <tr>
      <td>
        Email:
      </td>
      <td>
        {{ invoice.email }}
      </td>
    </tr>
  </tbody>
  </table>
</div>
{% if form %}
<div id='payment-container'>
  <p id='payment-title'>Payment with PayPal</p>
  <span id='payment-note-title'>Do not have a paypal account?</span>
  <span>You can always pay with credit card</span>
  <img id='payment-note' src={% static "imgs/paypal_note.png" %}></img>
  <div id='paypal-container'>
    {% if sandbox %}
      {{ form.sandbox }}
    {% else %}
      {{ form.render }}
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
