{% extends "delivery/base.html" %}
{% load static %}
{% load tz %}

{% localtime on %}


{% block content %}

{% for invoice in invoices %}
<div class="destination">
  <h4>Invoice #{{ invoice.id }}, {{ invoice.customer_name }}</h4>
  <a href="http://maps.apple.com/?daddr={{ invoice.address }}, Ontario, {{ invoice.postcode }}">
    <img class="map-button" src="{% static 'imgs/' %}map_button.png"></img>
  </a>
  <h5>{{ invoice.address }}, {{ invoice.postcode }}</h5>
  <h5>{{ invoice.phone }}</h5>
  <h5><a href="{% url 'order:show' invoice.invoice_num %}">Invoice Details</a></h5>
</div>
{% endfor %}

{% endblock %}

{% endlocaltime %}
