{% extends "base.html" %}
{% load static %}
{% load tz %}

{% localtime on %}

{% block content %}

<h1>Delivery Window</h1>
<h2>{{ delivery_window.store }}: {{ delivery_window }}</h2>
<ul>
  {% for order in delivery_window.orders.all %}
  <li>
    <div>
      <a href="{% url 'order:show' order.invoice.id %}">
        Order {{ order }}: {{ order.get_status_display }} ({{ order.items.count }} items)
      </a>
    </div>
    <div>
      <table id='order-confirm-table'>
      <tbody>
        <tr>
          <td>
            Name:
          </td>
          <td>
            {{ order.invoice.customer_name }}
          </td>
        </tr>
        <tr>
          <td>
            Address:
          </td>
          <td>
            {{ order.invoice.address }}
          </td>
        </tr>
        <tr>
          <td>
            ZIP:
          </td>
          <td>
            {{ order.invoice.postcode }}
          </td>
        </tr>
        <tr>
          <td>
            Phone:
          </td>
          <td>
            {{ order.invoice.phone }}
          </td>
        </tr>
        <tr>
          <td>
            Email:
          </td>
          <td>
            {{ order.invoice.email }}
          </td>
        </tr>
      </tbody>
      </table>
    </div>
    <ul>
      {% for order_item in order.order_items %}
      <li>
        <img src="{% static 'store_imgs/' %}{{ order_item.item.sku }}.JPG">
        <span>
          <span>{{ order_item.item.name }}</span>
          <label><input type="checkbox" {% if order_item.allow_sub %}checked{% endif %} disabled>Allow substitution</label>
        </span>
        <span>Quantity: {{ order_item.quantity }}</span>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>

<h1>Shopping List</h1>
<ul>
  {% for item, quantity in combined_items.items %}
  <li>
    <img src="{% static 'store_imgs/' %}{{ item.sku }}.JPG">
    <span>
      <span>{{ item.name }}</span>
    </span>
    <span>Quantity: {{ quantity }}</span>
  </li>
  {% endfor %}
</ul>

<a href="{% url 'delivery:summary' %}">Go back to summary</a>

{% endblock %}

{% endlocaltime %}
