{% extends "delivery/base.html" %}

{% block title %}Delivery Summary{% endblock %}

{% load static %}
{% load tz %}
{% load delivery_extra %}

{% localtime on %}

{% block content %}

{% for date, delivery_windows_divided_by_time in delivery_windows_divided_by_date_and_time %}
  {% for time, delivery_windows in delivery_windows_divided_by_time.items %}
  <h3 class="date">{{ date }}, {{ time }}</h3>
  <ul>
    {% for delivery_window in delivery_windows %}
    <li class="stores">
      <div>
        <a href="{% url 'delivery:detail' delivery_window.id %}">
          {{ delivery_window.store }}: ({{ delivery_window.waiting_orders|length }} orders)
        </a>
      </div>
      <ul>
      {% for order in delivery_window.waiting_orders %}
      <li class="orders">
        <div>
          <a href="{% url 'order:show' order.invoice.id %}">
            Invoice #{{ order.invoice.id }} Order #{{ order.id }}: {{ order.get_status_display }} ({{ order.items.count }} items)
          </a>
        </div>
      </li>
      {% endfor %}
      </ul>
    </li>
    {% endfor %}
    <li class="stores">
      <a href="{% url 'delivery:destinations' delivery_windows|join_by_attr:"id" %}">
        Destinations
      </a>
    </li>
  </ul>
  {% endfor %}
{% endfor %}

{% endblock %}

{% endlocaltime %}
