{% extends "delivery/base.html" %}

{% block title %}Delivery Summary{% endblock %}

{% load static %}
{% load tz %}

{% localtime on %}

{% block content %}

{% for date, delivery_windows in delivery_windows_divided_by_days %}
<h3>{{ date }}</h3>
<ul>
  {% for delivery_window in delivery_windows %}
  <li class="stores">
    <div>
      <a href="{% url 'delivery:detail' delivery_window.id %}">
        {{ delivery_window.store }}: {{ delivery_window }} ({{ delivery_window.waiting_orders|length }} orders)
      </a>
    </div>
    <ul>
      {% for order in delivery_window.waiting_orders %}
      <li class="orders">
        <div>
          <a href="{% url 'order:show' order.invoice.invoice_num %}">
            Invoice #{{ order.invoice.id }} Order #{{ order.id }}: {{ order.get_status_display }} ({{ order.items.count }} items)
          </a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
{% endfor %}

{% endblock %}

{% endlocaltime %}
