{% load static %}
<aside>
  <div class="stores">
    <header>Stores</header>
    <ul>
      {% for item in stores %}
      <li{% if store.slug == item.slug %} class="current"{% endif %}><a href="{% url 'shop:store_home' item.slug %}">{{item.name}}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% if categories %}
  <div class="categories">
    <header>Categories</header>
    <ul>
      {% for cate1 in categories %}
      <li>
        {% if cate1.sub_categories.all.count %}
        <span title="{{ cate1.name }}" {% if cate1.icon %}style="background-image:url('{% static "imgs/" %}{{cate1.icon}}')"{% endif %}>{{ cate1.name }}</span>
        <div>
          <ul>
            {% for cate2 in cate1.sub_categories.all %}
            <li>
              {% if cate2.sub_categories.all.count %}
              <span title="{{cate2.name}}">{{cate2.name}}</span>
              <div>
                <ul>
                  {% for cate3 in cate2.sub_categories.all %}
                  <li>
                    <a title="{{cate3.name}}" href="{% url 'shop:store_category' store.slug cate3.id %}">{{cate3.name}}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              {% else %}
              <a title="{{cate2.name}}" href="{% url 'shop:store_category' store.slug cate2.id %}">{{cate2.name}}</a>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
        {% else %}
        <a title="{{ cate1.name }}" href="{% url 'shop:store_category' store.slug cate1.id %}"  {% if cate1.icon %}style="background-image:url('{% static "imgs/" %}{{cate1.icon}}')"{% endif %}>{{cate1.name}}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if item_metas_filters %}
  <div class="filters">
    <header>Filters</header>
    <ul>
      {% for key, values in item_metas_filters.items %}
      <li>
        <span>{{ key }}</span>
        <div>
          <ul>
            {% for value in values %}
            <li class="filter-option" data-option="{&quot;key&quot;:&quot;{{ key }}&quot;,&quot;value&quot;:&quot;{{ value }}&quot;}">
              <input type="checkbox">{{ value }}
            </li>
            {% endfor %}
          </ul>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="help">
    <header>Need Help?</header>
    <ul>
      <li>support@fruitex.ca</li>
      <li>(226)606-4578</li>
    </ul>
  </div>
</aside>
{% if item_metas_filters %}
<script type="text/javascript">
  $(document).ready(function() {
    var pathname = window.location.pathname;
    var query_dict = {% if query_dict %}{{ query_dict | safe }}{% else %}{}{% endif %};
    var selected_item_metas = JSON.parse(query_dict['filter'] || '{}');

    var get_option_array = function(key) {
      var option_array = selected_item_metas[key];
      if (option_array == undefined) {
        return selected_item_metas[key] = [];
      }
      if (typeof option_array === 'string') {
        return selected_item_metas[key] = [option_array]
      }
      return option_array;
    };

    var apply_filter = function() {
      query_dict['filter'] = JSON.stringify(selected_item_metas)
      var param = $.param(query_dict, traditional=true)
      window.location.href = pathname + '?' + param;
    };

    $('.filter-option').each(function() {
      var option = $(this).data('option');
      var option_array = get_option_array(option.key);
      if (option_array.indexOf(option.value) >= 0) {
        $(this).find('input').attr('checked', '');
        $('.search .filters').append('<span>' + option.key + ': ' + option.value + '</span>');
      }
    });

    $('.filter-option').click(function(e) {
      var option = $(this).data('option');
      var option_array = get_option_array(option.key);
      var index = option_array.indexOf(option.value);
      if (index < 0) {
        option_array.push(option.value);
      } else {
        option_array.splice(index, 1);
      }
      apply_filter();
    });
  });
</script>
{% endif %}
