{% extends "common/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static "styles/shop.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "styles/cart_button.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "styles/item_article.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "styles/item_detail.css" %}"/>
{% endblock %}

{% block extra_script %}
{% if not DEBUG %}
{%   include "common/clicktale_top.html" %}
{% endif %}
{% endblock %}

{% block header_content %}
<ul class="nav navbar-nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle fix-dropmenu-padding-bottom" data-toggle="dropdown">
      <span class="font-large"><b>{{ store.name }}</b>&nbsp;|</span>
      <span class="font-small">{{ store.address }}</span>
      <b class="caret"></b></a>
    <ul class="dropdown-menu clear-padding">
      {% for e in stores %}
      <li class="menu-emphasis">
        <a href="{% url 'shop:store_home' e.slug %}">
          <span class="menu-emphasis-title">{{e.name}}</span>
          <span class="menu-emphasis-desc"></span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </li>
</ul>
<div class="col-sm-4 col-md-5 col-lg-5 col-xs-5">
  <div class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <div class="input-group">
        {% if category %}
          <span class="input-group-addon bg-light-green bd-mid-green" role="filters">
            <span>{{ category }}
              <b class="text-action ani-brighten">X</b>
            </span>
          </span>
        {% endif %}
        <input class="form-control width-full" id="search-content"{% if search_keyword %} value="{{search_keyword}}"{% endif %}/>
        <span class="input-group-btn">
          <button type="button" id="search-btn" class="btn bg-light-green fg-dark-green">Search</button>
        </span>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
{% include "shop/aside.html" %}
{% include 'common/cart_button.html' %}
{% endblock %}

{% block page_script %}
{% include "common/item_detail.html" %}
{% include "common/item.html" %}
<script type="text/javascript">
  $("span[role='filters']").each(function(idx, el) {
    $(el).find("b").click(function(){
      location.href = '{% url "shop:store_home" store.slug %}';
    });
  });

  var search = function(){
    var $searchbtn = $('#search-btn');
    var keyword = $('#search-content').val().trim();
    if (!keyword) {
      $searchbtn.blur();
      return false;
    }
    var template = '{% url "shop:store_search" store.slug "KEYWORD" %}'
    location.href = template.replace('KEYWORD', encodeURIComponent(keyword));
  }
  $('#search-btn').click(function(){
    search();
  });
  $('#search-content').keyup(function (evt) {
    if (evt.which == 13) {
      search();
    }
  });
</script>
{% if not DEBUG %}
{%   include "common/clicktale_bottom.html" %}
{% endif %}
{% endblock %}
