{% extends "common/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static "styles/home.css" %}"/>
{% endblock %}

{% block header_content %}
<div class="search">
  <span class="store">{{ store.name }}</span>
  {% if category %}
  <span class="cate"><span>{{ category }}<i>×</i></span></span>
  {% endif %}
  <input class="search-content"{% if search_keyword %} value="{{search_keyword}}"{% endif %}/>
  <span class="search-btn"><i>Search</i></span>
</div>
{% include 'common/cart.html' %}
{% endblock %}

{% block content %}
{% include "shop/aside.html" %}
{% endblock %}

{% block page_script %}
{% include "common/item_detail.html" %}
{% include "common/item.html" %}
<script type="text/javascript">
$('body>header .cate i').click(function(){
  location.href = '{% url "shop:store_home" store.slug %}';
});
</script>
{% endblock %}
