<header>
  <a href="{% url 'shop:to_default' %}" title="Fruitex" class="home"></a>
  <div class="search">
    <span class="store">{{ store.name }}</span>
    {% if category %}
    <span class="cate"><span>{{ category }}<i>×</i></span></span>
    {% endif %}
    <input class="search-content"{% if search_keyword %} value="{{search_keyword}}"{% endif %}/>
    <span class="search-btn"><i>Search</i></span>
  </div>
  {% include 'shop/cart.html' %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('body>header .cate i').click(function(){
        location.href = '{% url "shop:store_home" store.slug %}';
      });
    });
  </script>
</header>
