{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<div class="content">
{% if store.customization and store.customization.show_banner %}
<div class="ad">
  <img src="{% static "imgs/"%}ad_{{ store.slug }}.png" alter="{{ store.name }} Advertisement" />
</div>
{% endif %}
{% if store.customization and store.customization.featured|length > 0 %}
<div class="deal-sale">
  <header>{{ store.customization.featured_display_name }}</header>
  <article data-source="{% url 'shop:store_featured_items' store.slug store.customization.featured '' %}">
    <ul></ul>
    <div class="loading"></div>
  </article>
</div>
{% endif %}
{% if store.customization and store.customization.show_on_sale %}
<div class="week-sale">
  <header>POPULAR ONSALES</header>
  <article data-source="{% url 'shop:store_onsale_items' store.slug '' %}">
    <ul></ul>
    <div class="loading"></div>
  </article>
</div>
{% endif %}
{% if store.customization.show_best_selling or not store.customization %}
<div class="popular">
  <header>BEST SELLINGS</header>
  <article data-source="{% url 'shop:store_popular_items' store.slug '' %}">
    <ul></ul>
    <div class="loading"></div>
  </article>
</div>
{% endif %}
</div>

{{ block.super }}
{% endblock %}

{% block page_script %}
{{ block.super }}

<script type="text/javascript">
  var articles = $('.content article');
  articles.each(function(i, element) {
    load_items($(element), '', null);
  });
</script>
{% endblock %}
