{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<div class="content">
<div class="ad">
  <img src="{% static "imgs/"%}ad_{{ store.slug }}.png" alter="{{ store.name }} Advertisement" />
</div>
<div class="deal-sale">
  <header>Deal OF THE WEEK</header>
  <article data-source="{% url 'shop:store_featured_items' store.slug 'deal_of_the_week' '' %}">
    <ul></ul>
    <div class="loading"></div>
  </article>
</div>
<div class="week-sale">
  <header>POPULAR ONSALES</header>
  <article data-source="{% url 'shop:store_onsale_items' store.slug '' %}">
    <ul></ul>
    <div class="loading"></div>
  </article>
</div>
<div class="popular">
  <header>BEST SELLINGS</header>
  <article data-source="{% url 'shop:store_popular_items' store.slug '' %}">
    <ul></ul>
    <div class="loading"></div>
  </article>
</div>
</div>

{{ block.super }}
{% endblock %}

{% block page_script %}
{{ block.super }}

<script type="text/javascript">
  var articles = $('.content article');
  articles.each(function(i, element) {
    load_items($(element), '', null);
  });
</script>
{% endblock %}
