{% load staticfiles %}
<link rel="stylesheet" type="text/css" href={% static "styles/global.css" %}/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

<style>
    #banner {
        border-bottom: 1px #d5d5d5 solid;
        height: 55px;
        margin-bottom: 10px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
    }

    #banner-bg {
        width: 100%;
        height: 100%;
        background-color: #f4f4f4;
        opacity: 0.8;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    #logo {
        float: left;
        margin-top: 5px;
        margin-left: 10px;
    }
    #btn_cart {
        float: right;
        margin-right: 20px;
    }
</style>
<div id="banner">
        <div id='banner-bg'></div>
        <a href="/home/"/>
            <img id="logo" src={% static "imgs/logo.png" %}>
        </a>
        <a href="#">
            <img id="btn_cart" src={% static "imgs/btn_cart.png" %}>
        </a>
</div>
