{% load staticfiles %}
<style>
    #banner {
        border-bottom: 1px #d5d5d5 solid;
        height: 55px;
        margin-bottom: 10px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
    }

    #banner-bg {
        width: 100%;
        height: 100%;
        background-color: #f4f4f4;
        opacity: 0.8;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    #logo {
        float: left;
        margin-top: 5px;
        margin-left: 10px;
    }
    #btn_cart {
        float: right;
        margin-right: 20px;
    }
    #search-input {
        width: 500px;
        height: 30px;
        border: 1px solid #d3d3d3;
        padding: 2px;
        float: left;
    }

    #search-btn {
        margin-left: 5px;
        float: left;
        cursor: pointer;
    }

    #search-container {
        margin-top: 15px;
    }
  .custom-combobox {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 50px;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 6px;
    background: white;
    width: 110px;
    border-radius: 0;
  }
  .dropdown-button {
    background: white;    
    border-radius: 0;
  }
  .center-container {
    width: 830px;
    margin-left: auto;
    margin-right: auto;
  }
  #store-selector-title {
    width: 50px;
    float: left;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    z-index: 1;
    position: relative;
    margin-right: -1px;
    padding: 6px;
    text-align: center;
    background: #dae9d7;
    font-size: 14px;
    color: #2d4007;
  }
  </style>
  <div id="banner">
        <div id='banner-bg'></div>
        <a href="/items/"/>
            <img id="logo" src={% static "imgs/logo.png" %}></img>
        </a>
        <a href="/cart/">
            <img id="btn_cart" src={% static "imgs/btn_cart.png" %}></img>
        </a>
        <div class="center-container">
            <div id="store-selector-title">Store</div>
            <select id="combobox">
              <option value="sobeys">Sobeys</option>
            </select>
            <div id="search-container">
              <input id="search-input" type="text"></input>
            <img id="search-btn" src={% static "imgs/search_btn.png" %}></imgs`g>
            </div>
        </div>
  </div>
  <script>
  (function( $ ) {
    $.widget( "custom.combobox", {
      _create: function() {
        this.wrapper = $( "<span>" )
          .addClass( "custom-combobox" )
          .insertAfter( this.element );
 
        this.element.hide();
        this._createAutocomplete();
        this._createShowAllButton();
      },
 
      _createAutocomplete: function() {
        var selected = this.element.children( ":selected" ),
          value = selected.val() ? selected.text() : "";
 
        this.input = $( "<input>" )
          .appendTo( this.wrapper )
          .val( value )
          .attr( "title", "" )
          .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
          .autocomplete({
            delay: 0,
            minLength: 0,
            source: $.proxy( this, "_source" )
          })
          .tooltip({
            tooltipClass: "ui-state-highlight"
          });
 
        this._on( this.input, {
          autocompleteselect: function( event, ui ) {
            ui.item.option.selected = true;
            this._trigger( "select", event, {
              item: ui.item.option
            });
          },
 
          autocompletechange: "_removeIfInvalid"
        });
      },
 
      _createShowAllButton: function() {
        var input = this.input,
          wasOpen = false;
 
        $( "<a>" )
          .attr( "tabIndex", -1 )
          .attr( "title", "Show All Items" )
          .tooltip()
          .appendTo( this.wrapper )
          .button({
            icons: {
              primary: "ui-icon-triangle-1-s"
            },
            text: false
          })
          .removeClass( "ui-corner-all" )
          .addClass( "custom-combobox-toggle ui-corner-right dropdown-button" )
          .mousedown(function() {
            wasOpen = input.autocomplete( "widget" ).is( ":visible" );
          })
          .click(function() {
            input.focus();
 
            // Close if already visible
            if ( wasOpen ) {
              return;
            }
 
            // Pass empty string as value to search for, displaying all results
            input.autocomplete( "search", "" );
          });
      },
 
      _source: function( request, response ) {
        var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
        response( this.element.children( "option" ).map(function() {
          var text = $( this ).text();
          if ( this.value && ( !request.term || matcher.test(text) ) )
            return {
              label: text,
              value: text,
              option: this
            };
        }) );
      },
 
      _removeIfInvalid: function( event, ui ) {
 
        // Selected an item, nothing to do
        if ( ui.item ) {
          return;
        }
 
        // Search for a match (case-insensitive)
        var value = this.input.val(),
          valueLowerCase = value.toLowerCase(),
          valid = false;
        this.element.children( "option" ).each(function() {
          if ( $( this ).text().toLowerCase() === valueLowerCase ) {
            this.selected = valid = true;
            return false;
          }
        });
 
        // Found a match, nothing to do
        if ( valid ) {
          return;
        }
 
        // Remove invalid value
        this.input
          .val( "" )
          .attr( "title", value + " didn't match any item" )
          .tooltip( "open" );
        this.element.val( "" );
        this._delay(function() {
          this.input.tooltip( "close" ).attr( "title", "" );
        }, 2500 );
        this.input.data( "ui-autocomplete" ).term = "";
      },
 
      _destroy: function() {
        this.wrapper.remove();
        this.element.show();
      }
    });
  })( jQuery );
 
  $(function() {
    $( "#combobox" ).combobox();
    $( "#toggle" ).click(function() {
      $( "#combobox" ).toggle();
    });
  });
  </script>
