{% load staticfiles %}
<link rel="stylesheet" type="text/css" href={% static "styles/banner.css" %}/>
<script src={% static "javascript/banner.js" %}></script>
<div id="banner">
  <div id='banner-bg'></div>
  <a href="/items/"/>
  <img id="logo" src={% static "imgs/logo.png" %}></img>
</a>
<a href="/cart/">
  <img id="btn_cart" src={% static "imgs/btn_cart.png" %}></img>
  <div id="cart_bubble">
    <p></p>
    <img src={% static "imgs/cart_bubble.png" %}></img>
  </div>

</a>
<img id="img_add_success" src={% static "imgs/add_success.png" %}></img>
<div class="center-container">
  <div id="store-selector-title">Store</div>
  <select id="combobox">
    <option value="sobeys">Sobeys</option>
  </select>
  <div id="search-container">
    <input id="search-input" type="text"></input>
    <img id="search-btn" src={% static "imgs/search_btn.png" %}></imgs`g>
  </div>
</div>