<html>
    <head>
    </head>
    <body>
      <style>
        #content {
          width: 1015px;
          margin-left:auto;
          margin-right:auto;
          padding-bottom: 20px;
          margin-top: 20px;
        }
      </style>
        <div id='bar'>
            {% include "banner.html" %}
        </div>
        <div id='content'>
            {% block content %} {% endblock %}
        </div>
        <div id='footer'>
            {% include "footer.html" %}
        </div>
    <body>
</html>
