{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
  #cart-wrapper {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border: 1px solid #d3d3d3;
  }

  #cart-container {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin-bottom: 20px;
  }

  #checkout-button {
    margin-bottom: 10px;
  }
  .item-info-wrapper {
    float: left;
    padding-top: 5px;
    width: 500px;
  }
  .item-in-cart {
    height : 80px;
    width : 580px;
    padding: 10px;
  }
  .item-in-cart-img {
    height : 70px;
    width : 70px;
    float : left;
    background: #d3d3d3;
  }
  .item-in-cart-name {
    margin-left: 20px;
    font-size: 13px;
    width: 420px;
    float: left;
  }
  .item-in-cart-price {
    height : 20px;
    float: left;
    font-size: 16px;
  }

  #cart-header {
    font-size: 20px;
    margin: 20px;
  }

  #items-in-cart-summary-container {
    background-color : rgb(245,252,245);
    border-top: 1px solid #e6e6e6;
    height : 110px;
    padding : 10px;
  }
   #items-in-cart-summary-table {
    width: 150px;
    float: right;
    margin-right: 75px;

   }

   #items-in-cart-summary-table tr td {
    font-size: 15px;
    text-align: right;
    height: 25px;
   }
  #cart-footer {
    width : 600px;
    height : 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
  }
  #cart-footer p {
    color: grey;
  }

  #summary-tax, #summary-delivery {
    color: grey;
  }

  #summary-total {
    color: #375b1b;
    font-weight: bold;
  }
</style>
<script>
  var loadItemsInCart= function() {
    var itemIds = $.cookie('cart');
    $.post('/items/getItems',
        {'ids' : itemIds}, 
        function(data) {
          if (data.length > 0) {
            showItemsInCart(data);
          }
        }, 'json');
  };

  var showItemsInCart = function(items) {
    var container = $('#cart-container');
    for (var i = 0; i < items.length; i++) {
      container.append(createItemInCart(items[i]));
    }
    var itemsSummary = $('#items-in-cart-summary-container');
    var table = $('<table>').attr('id', 'items-in-cart-summary-table');
    itemsSummary.append(table);
    $.post('/items/computeSummary',
        {'ids' : JSON.stringify($.map(items, function(it) {return it.id;}))},
        function(data) {
          table.append($('<tr>').attr('id', 'summary-sum')
              .append($('<td>').attr('class', 'summary-label').text('Sum : '))
              .append($('<td>').attr('class', 'summary-value').text('$ ' + data.sum.toFixed(2))))
            .append($('<tr>').attr('id', 'summary-tax')
              .append($('<td>').attr('class', 'summary-label').text('Tax : '))
              .append($('<td>').attr('class', 'summary-value').text('$ ' + data.tax.toFixed(2))))
            .append($('<tr>').attr('id', 'summary-delivery')
              .append($('<td>').attr('class', 'summary-label').text('Delivery : '))
              .append($('<td>').attr('class', 'summary-value').text('$ ' + data.delivery.toFixed(2))))
            .append($('<tr>').attr('id', 'summary-total')
              .append($('<td>').attr('class', 'summary-label').text('Total : '))
              .append($('<td>').attr('class', 'summary-value').text('$ ' + data.total.toFixed(2))));
        }, 
        'json');
  };

  var createItemInCart = function(item) {
    return $('<div>').attr('class', 'item-in-cart')
      .append($('<div>').attr('class', 'item-in-cart-img'))
      .append($('<div>').attr('class', 'item-info-wrapper')
        .append($('<span>').attr('class', 'item-in-cart-name').text(item.name))
        .append($('<span>').attr('class', 'item-in-cart-price').text('$ ' + item.price)));
  };
  $(document).ready(function() {
    loadItemsInCart();
  });
</script>
<div id='cart-wrapper'>
  <p id="cart-header">Your cart</p>
  <div id='cart-container'> 
  </div>
  <div id='items-in-cart-summary-container'></div>
</div>
<div id='cart-footer'>
  <img id='checkout-button' src={% static "imgs/btn_checkout.png" %}></img>
  <p>And get your delivery today.</p>
</div>
{% endblock %}
