{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href={% static "styles/cart.css" %}/>
<script src={% static "javascript/cart.js" %}></script>

<div id='cart-wrapper'>
  <p id="cart-header">Your cart</p>
  <div id='cart-container'> 
  </div>
  <div id='items-in-cart-summary-container'></div>
</div>
<div id='delivery-wrapper'>
  <p id="delivery-header">Delivery</p>
  <div id='delivery-container'>
    <table>
      <tr>
        <td>Name</td>
        <td>
          <input type="text" id="delivery_name"></input>
        </td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>
          <input type="text" id="delivery_phone"></input>
        </td>
      </tr>
      <tr>
        <td>Address</td>
        <td>
          <input type="text" id="delivery_address"></input>
        </td>
      </tr>
      <tr>
        <td>Post Code</td>
        <td>
          <input type="text" id="delivery_postcode"></input>
        </td>
      </tr>
    </table> 
  </div>
</div>
<div id='cart-footer'>
  <img id='checkout-button' src={% static "imgs/btn_checkout.png" %}></img>
  <p>And get your delivery today.</p>
</div>
{% endblock %}
