{% extends "itemlistbase.html" %}
{% block category %}
<style>
  #cate-list {
    list-style-type : none;
  }

  .cate {
    padding-top : 30px;
    padding-bottom : 30px;
    font-weight : bold;
    font-size : large;
  }

  #category {
    position : relative;
  }

  .sub-cate {
    left : 200px;
    position : absolute;
    height : 400px;
    background-color : white;
    z-index : 10;
  }

  .cate-sub-list {
    list-style-type : none;
  }

  .cate-sub-list-item {
    padding-top : 5px;
  }

  .cate-sub-list-header {
    font-weight : bold;
    padding-top : 10px;
  }
  
</style>
<script>
  function getCategoryId(s) {
    return 'cate-' + s.toLowerCase().replace(/[^a-z]/g, '');
  }

  function getCateHoverInHandler(c) {
    return function () {
      $('.sub-cate').hide();
      $('#' + getCategoryId(c)).show();
    };
  }

  function getCateHoverOutHandler() {
    return function () {
      $('.sub-cate').hide();
    };
  }

  (function (cate) {
    function getCateNum(c) {
      var res = 0;
      for (var sc in cate[c]) {
        res += cate[c][sc].length;
      }
      return res;
    }
    var cate_lst = $('<ul>').attr('id', 'cate-list');
    for (var c in cate) {
      cate_lst.append($('<li>').attr('class', 'cate').text(c).hover(getCateHoverInHandler(c), getCateHoverOutHandler()));
      var sub_cate = $('<div>').attr('class', 'sub-cate')
        .attr('id', getCategoryId(c)).hide()
        .hover(function(){$(this).show();}, function(){$(this).hide()});
      $('#category').append(sub_cate);
      var columnNum = Math.ceil(getCateNum(c)/15);
      console.log(columnNum);
      var containers = [];
      sub_cate.css('width', ((150 + 30) * columnNum) + 'px');
      for (var i = 0; i < columnNum ; i++) {
        var col = $('<div>').css({'float': 'left', 'width': '150px', 'height': '100%'});
        sub_cate.append(col);
        containers.push(col);
      }
      var idx = 0;
      for (var sc in cate[c]) {
        var cate_sub_lst = $('<ul>').attr('class', 'cate-sub-list');
        containers[idx].append(cate_sub_lst);
        idx = (idx + 1) % columnNum;
        cate_sub_lst.append($('<li>').attr('class', 'cate-sub-list-header').text(sc))
        for (var i in cate[c][sc]) {
          cate_sub_lst.append($('<li>')
              .attr('class', 'cate-sub-list-item')
              .text(cate[c][sc][i]));
        }
      }
    }
    $('#category').append(cate_lst);
  })({{category | safe}});
</script>
{% endblock %}
{% block ad %}
ad
{% endblock %}
{% block items %}
{% load staticfiles %}
<style>
  #item-list {
  }
  
  .item-container {
    display: inline;
    width: 188px;
    height: 300px;
    margin-left:10px;
    margin-top:10px;
    float: left;
    border: 1px solid #D3D3D3;
    position: relative;
  }

  .item-info-wrapper {
    padding: 10px;
  }
  
  .item-image {
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .item-name {
    font-weight: bold;
    height: 30px;
    
  }
  
  .item-price {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
  }
  
  .item-category {
    font-size: 10px;
    color: gray;
  }
  
  .btn-add-container {
    position: absolute;
    height: 40px;
    margin: -1px;
    width: 100%;
    background: #f4f4f4;
    bottom: 0px;
    border: 1px solid #D3D3D3;
    display: none;
    
  }
  
  .btn-add {
    margin-top: 6px;
    margin-left: 40px;
    }
  </style>
<div id='item-list'>
  {% for item in itemList %}
  <div class = "item-container">
    <div class="item-info-wrapper">
      <!-- Hard code for item image -->
      <div class = "item-image" style='width: 165px; height: 212px; background: #f4f4f4;'></div>
      <div class = "item-name"> {{ item.name }} </div>
      <p class = "item-price"> ${{ item.price }} </p>
      <p class = "item-category"> {{ item.category }} </p>
      </div>
    <div class="btn-add-container">
      <img class="btn-add" src= {% static "imgs/btn_add.png" %}>
    </div>
  </div>
  {% endfor %}
</div>
<script src={% static "javascript/itemlist.js"%}></script>
{% endblock %}


