{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
  #category {
    height: 600px;
    width: 200px;
    float: left;
    border: dotted;
  }

  #ad-and-items {
    width:800px;
    float:right;
  }

  #ad {
    height: 200px;
    width: 800px;
    border: dotted;
  }

  #items {
    border: dotted;
    height: 400px;
    width: 800px;

  }
</style>
<div id='category'> {% block category %} {% endblock %} </div>
<div id='ad-and-items'>
  <div id='ad'>
  {% block ad %}
  {% load static %}
    <img src={% static "imgs/ad_sobeys.png"%}>
  {% endblock %}
  </div>
  <div id='items'> {% block items %} {% endblock %} </div> 
</div>
{% endblock %}
