{% extends "itemlistbase.html" %}
{% block category %}
category
{% endblock %}
{% block ad %}
ad
{% endblock %}
{% block items %}
<style>
  #itemlist {
  }

  .item {
    background: gray;
    display: inline;
    width: 180px;
    height: 300px;
    margin:10px;
    float: left;
  }
</style>
<div id='itemlist'>
  {% for item in itemList %}
    <table class = "item">
      <tr>
        <td> {{ item.name }} </td>
      </tr>
      <tr>
        <td> {{ item.price }} $ </td>
      </tr>
      <tr>
        <td> {{ item.category }} </td>
      </tr>
    <table>
  {% endfor %}
</div>
{% endblock %}
