body{
    background: #fcfcfc;
}
body>header {
    height: 56px;
    background: rgba(244, 244, 244, 0.7);
    border-bottom: 2px rgb(228, 228, 228) solid;
    position: fixed;
    width: 100%;
    z-index: 999;
}
body>header>.home {
    display: inline-block;
    width: 170px;
    height: 50px;
    background: url('../imgs/logo.png') no-repeat 50%;
    position: absolute;
    left: 0;
    background-position: 15px 5px;
}
body>footer{
    height: 50px;
    background: rgba(244, 244, 244, 0.7);
    line-height: 35px;
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #d3d3d3;
    color: #808080;
}
.container{
    width: 996px;
    margin: auto;
    padding: 56px 0 0 0;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.hidden {
    display:none;
}
.clear {
    clear: both;
}
a:link {
    color: black;
    text-decoration:none;
}      /* unvisited link */
a:visited {
    color: black;
    text-decoration:none;
}  /* visited link */
a:hover {
    color: black;
    text-decoration:none;
}  /* mouse over link */
a:active {
    color: black;
    text-decoration:none;
}  /* selected link */
a img {
    border:0;/* disable borders in IE */
}
