* {
    margin:0;
    padding: 0;
    font-size: 12px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    background: #fcfcfc;
    position: relative;
}

a:link {
    color: black;
    text-decoration:none;
}      /* unvisited link */
a:visited {
    color: black;
    text-decoration:none;
}  /* visited link */
a:hover {
    color: black;
    text-decoration:none;
}  /* mouse over link */
a:active {
    color: black;
    text-decoration:none;
}  /* selected link */

a img {
    border:0;/* disable borders in IE */
}

.transparent-white {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.hidden {
    display:none;
}
