.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
body{
    background: rgb(252,252,252);
}
body>header {
    height: 56px;
    background: rgba(244, 244, 244, 0.7);
    border-bottom: 2px rgb(228, 228, 228) solid;
    position: fixed;
    width: 100%;
    z-index: 999;
}
body>header>a.home {
    display: inline-block;
    width: 170px;
    height: 50px;
    background: url('../imgs/logo.png') no-repeat 50%;
    position: absolute;
    left: 0;
    background-position: 15px 5px;
}
body>header .search {
    width: 700px;
    margin: auto;
    display: table;
    margin-top: 12px;
}
body>header .search > * {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    height: 30px;
    line-height: 30px;
}
body>header .search > .search-content {
    width: 100%;
    border:1px solid rgb(190, 190, 190);
    border-left: none;
    height: 34px;
    line-height: 30px;
    vertical-align: middle;
    outline: none;
}
body>header .search > .store {
    background: rgb(250, 250, 250);
    border: 1px solid rgb(190,190,190);
    border-radius:  6px 0 0 6px;
    padding: 0 12px;
    text-transform: uppercase;
}
body>header .search > .cate {
    border: 1px solid rgb(190,190,190);
    border-left: none;
    border-right: none;
    background:#fff;
}
body>header .search > .cate >span {
    background: rgb(212, 255, 143);
    border: 1px solid rgb(178, 217, 113);
    position: relative;
    display: block;
    height: 24px;
    margin:0 3px;
    top: 2px;
    line-height: 24px;
    padding: 0 4px;
}
body>header .search > .cate >span > i {
    margin: 0 4px;
    cursor: pointer;
}
body>header .search > .search-btn > i {
    display: block;
    margin-left: 10px;
    font-style: normal;
    text-transform: uppercase;
    padding: 0 12px;
    background: rgb(209, 239, 139);
    color: rgb(66,107,29);
    border: 1px solid rgb(120, 156, 59);
    cursor: pointer;
    border-radius: 4px;
    font-weight: 700;
    border-bottom-width: 2px;
    opacity: .8;
}
body>header .search > .search-btn > i:hover{
    opacity: 1;
}
body>header>a.cart {
    position: absolute;
    display: block;
    width: 90px;
    height: 90px;
    border: 1px solid rgb(101,150,46);
    right: 20px;
    top: 0;
    background: rgb(193,230,108);
    border-radius: 0 0 8px 8px;
    background-image: url('../imgs/icon_cart.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    border-top: none;
    box-shadow: 0px 1px 1px;
}
#content{
    width: 996px;
    margin: auto;
    padding-top: 56px;
}
body>header>a.cart .num {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgb(248,110,19);
    left: -15px;
    bottom: -15px;
    border-radius: 20px;
    border: 2px solid rgb(251,165,108);
    box-shadow: 0 0 0 2px rgb(150, 95, 58);
    color: #fff;
    text-align: center;
    line-height: 36px;
    -webkit-transition: opacity .3s;
    font-size: 20px;
    opacity: 1;
}
body>header>a.cart .plus {
    position: absolute;
    width: 70px;
    height: 80px;
    background:url('../imgs/add_success.png') no-repeat;
    top:105px;
    left:10px;
    display: none;
}
#content>aside {
    width: 200px;
    float: left;
    margin-top: 25px;
}
#content>aside .stores ul{
    border: 1px solid #ccc;
    border-bottom-width: 3px;
    border-radius: 0 0 8px 8px;
    border-top:none;
    padding: 0;
}
#content>aside .stores header{
    text-indent:16px;
    background: rgb(50, 50, 50);
    color:#fff;
    line-height:35px;
    border-radius:8px 8px 0 0;
}
#content>aside .stores ul li {
    line-height: 36px;
    list-style: none;
    padding-left: 16px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
#content>aside .stores ul li a {
    display: inline-block;
    width: 100%;
    color: #000;
}
#content>aside .stores ul li a:hover {
    text-decoration: none;
}
#content>aside .stores ul li:hover{
    background: rgb(243, 251, 231);
}
#content>aside .stores ul li:last-child {
    border-bottom: none;
    border-radius: 0 0 8px 8px;
}
#content>aside .stores ul li.current:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: rgb(118,176,35);
    border-radius: 6px;
    right: 12px;
    top: 16px;
}
#content>aside .categories {
    margin-top: 12px;
}
#content>aside .categories > ul >li > div {
    display: none;
    position: absolute;
    left: 199px;
    background: #fff;
    top: -42px;
    border-radius: 8px;
}
#content>aside .categories li {
    list-style: none;
}
#content>aside .categories ul {
    padding: 0;
    margin: 0;
}
#content>aside .categories >header {
    line-height: 35px;
    background: rgb(192,232,100);
    padding-left: 16px;
    border-radius: 8px 8px 0 0;
}
#content>aside .categories > ul {
    border: 1px solid #ccc;
    border-bottom-width: 4px;
    border-radius: 0 0 8px 8px;
}
#content>aside .categories > ul > li {
    line-height: 36px;
    padding: 0 8px;
    border-bottom: 1px solid rgb(204, 204, 204);
    cursor: pointer;
    position: relative;
    height: 36px;
}
#content>aside .categories > ul > li>span {
    display: inline-block;
    width: 100%;
    padding-left: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-repeat: no-repeat;
    background-size: 26px;
    background-position-y: 50%;
}
#content>aside .categories > ul > li:hover {
    background:rgb(243, 251, 231);
}
#content>aside .categories > ul >li:hover > div {
    display: block;
}
#content>aside .categories > ul >li > div>ul {
    padding: 16px;
    border: 1px solid #ccc;
    border-bottom-width: 5px;
    margin-left: 10px;
    border-radius: 8px;
}
#content>aside .categories > ul >li > div a {
    display: inline-block;
    white-space: nowrap;
    width: 180px;
    padding: 0 8px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#content>aside .categories li li {
    line-height: 20px;
}
#content>aside .categories > ul >li > div>ul>li>a {
    color: #000;
    font-weight: 700;
    line-height: 24px;
    font-size: 1.1em;
}
#content>aside .categories > ul >li > div>ul>li>ul a {
    color: rgb(120,120,120);
    font-size: 0.9em;
}
#content>aside .help {
    margin-top: 12px;
}
#content>aside .help header {
    background: rgb(50, 50, 50);
    color: #fff;
    line-height: 35px;
    text-indent: 16px;
    border-radius: 8px 8px 0 0;
    font-weight: 700;
}
#content>aside .help ul {
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 0 0 8px 8px;
    border-bottom-width: 4px;
}
#content>aside .help ul li {
    line-height: 36px;
    list-style: none;
    text-indent: 40px;
    background-repeat: no-repeat;
    background-image: url("/static/imgs/icon_email.png");
    background-position: 16px 13px;
}
#content>aside .help ul li:last-child {
    background-image: url("/static/imgs/icon_phone.png");
    border-top: 1px solid #ccc;
}
#content>.content {
    float: right;
    width: 780px;
    margin-top: 25px;
}
#content>.content .ad img {
    width: 780px;
    border-radius: 12px;
}
#content>.content .week-sale,#content>.content .popular,#content>.content .deal-sale {
    margin-top: 12px;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 2px 12px 5px 12px;
    position: relative;
}
#content>.content .week-sale article, #content>.content .popular article, #content>.content .deal-sale article {
    height: 220px;
    position: relative;
    margin-top: 35px;
}
#content>.content .week-sale header, #content>.content .popular header, #content>.content .deal-sale header {
    position: absolute;
    height: 32px;
    background: #EE9F3B;
    color: #fff;
    line-height: 30px;
    padding: 0 20px;
    border-radius: 12px 0 12px 0;
    left: -1px;
    top: -1px;
    border: 1px solid #F56200;
    background-image: linear-gradient(to bottom, #EE9F3B 0%,#E77640 50%,#EE9F3B 100%);
}
#content>.content .popular header {
    background: rgb(124, 205, 86);
    border-color: rgb(78, 145, 23);
    background-image: linear-gradient(to bottom, rgb(124, 205, 86) 0%,rgb(114, 200, 77) 50%,rgb(114, 200, 77) 100%);
}
#content>.content .deal-sale header {
    background: #D93EEE;
    border-color: #BE18C5;
    background-image: linear-gradient(to bottom, #BE18C5 0%,#A306AA 50%,#BE18C5 100%);
}
#content>.content>div>article .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5) url('/static/imgs/weekly-ajax-loader.gif') no-repeat 50% 50%;
    top: 0;
    left: 0;
}
#content>.content>div.popular>article .loading {
    background-image: url("/static/imgs/popular-ajax-loader.gif");
}
#content>.content>div.search-items>article .loading{
    background-image: url("/static/imgs/popular-ajax-loader.gif");
}
#content>.content div article li {
    float: left;
    list-style: none;
    width: 150px;
    position: relative;
    border-right: 1px dashed #ccc;
    overflow: hidden;
    cursor: pointer;
}
#content>.content div article li img {
    height: 150px;
    text-align: center;
    position: absolute;
    left: 11px;
    top: -20px;
    display: none;
}
#content>.content div article ul {
    padding: 0;
    margin: 0;
}
#content>.content div article li:last-child {
    border-right: none;
}
#content>.content div article li .name {
    font-size: 12px;
    padding: 8px;
    height: 40px;
    overflow: hidden;
}
#content>.content div article li .price {
    text-align: right;
    padding-right: 16px;
    font-weight: 700;
}
#content>.content .week-sale article li .price.weekly .original {
    text-decoration: line-through;
}
#content>.content .week-sale article li .price.weekly .now,#content>.content .deal-sale article li .price.weekly .now {
    color: rgb(229,68,57);
    margin-right: 4px;
}
#content>.content div article li .add {
    position: absolute;
    width: 100%;
    height: 40px;
    margin: 0;
    background: rgba(200,200,200,.5);
    bottom: -40px;
    -webkit-transition: bottom .3s;
}
#content>.content div article li:hover .add {
    bottom: 0;
}
#content>.content div article li .add i {
    position: absolute;
    text-transform: uppercase;
    background: rgb(60, 204, 32);
    color: #fff;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    border: 1px solid rgb(70, 156, 13);
    border-bottom-width: 2px;
    border-radius: 5px;
    top: 5px;
    left: 50%;
    font-style: normal;
    font-size: 12px;
    z-index: 999;
    width: 100px;
    text-align: center;
    box-shadow: 1px 1px 1px rgb(70, 156, 13);
    margin-left: -50px;
}
#content>.content .popular article {
    height: 430px;
}
#content>.content article li {
    margin-top: 20px;
}
#content>.content article li:nth-child(5n) {
    border-right: none;
}
body>footer{
    height: 50px;
    background: rgba(244, 244, 244, 0.7);
    line-height: 35px;
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #d3d3d3;
    color: grey;
}
#content>.content div article li .image {
    height: 100px;
    position: relative;
    overflow: hidden;
}
#content>.content div article li .image span {
    position: absolute;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
    font-style: italic;
}
#content>.content div.search-items article li .image span{
    line-height: 150px;
    height: 150px;
}
#content>aside>div {
    background: #fff;
}
#content>.content>div {
    background: #fff;
}
#content>.content div.search-items article li {
    width: 179px;
    border: 1px solid #ccc;
    margin: 8px;
    border-radius: 8px;
    border-bottom-width: 3px;
    background: #fff;
}
#content>.content div.search-items article li .image {
    height: 150px;
}
#content>.content div.search-items article li .image img {
    top: 5px;
    left: 15px;
}
#content>.content>div.search-items {
    background: rgb(252,252,252);
}
#content>.content>div.search-items > article {
    height: 790px;
    position: relative;
}
#content>.content div.search-items article li .price {
    text-align: left;
    padding-left: 16px;
    position: relative;
}
#content>.content div.search-items article li .price:after {
    position: absolute;
    content: 'cad';
    background: rgb(70,192,0);
    color: #fff;
    font-size: 12px;
    padding: 0 3px;
    margin-left: 3px;
    border: 1px solid rgb(27, 106, 16);
    text-transform: uppercase;
    line-height: 12px;
    top: 4px;
    -webkit-transform: scale(.8);
}
#content>.content>div.search-items > footer {
    position: relative;
    height: 40px;
}
#content>.content>div.search-items > footer >span {
    width: 72px;
    height: 40px;
    display: inline-block;
    position: absolute;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: -1px 1px 1px #ccc;
}
#content>.content>div.search-items > footer >span.prev {
    left: 300px;
    background: rgb(255, 255, 255) url('/static/imgs/arrow_left.png') no-repeat 44px 50%;
    display:none;
}
#content>.content>div.search-items > footer >span.next {
    left: 390px;
    background: rgb(255, 255, 255) url('/static/imgs/arrow_right.png') no-repeat 12px 50%;
}
#content>.content div.search-items article ul {
    margin-top: -8px;
}
.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(255, 255, 255,.5);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.md-show ~ .md-overlay {
    visibility: visible;
}
.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.md-show {
    visibility: visible;
}
.md-content{
    color: #333;
    background: #fff;
    position: relative;
    border-radius: 5px;
    margin: 0 auto;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding: 24px 8px;
    /* box-shadow: 0 0 10px rgba(0,0,0,1); */
    border: 1px solid #ccc;
    border-bottom-width: 4px;
}
.md-show .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.md-modal .md-content .image {
    width: 300px;
    height: 300px;
    float: left;
    text-align: center;
    border-right: 1px dashed #999;
}
.md-modal .md-content .image img {
    width: 220px;
}
.md-modal .md-content .detail {
    width: 300px;
    height: 300px;
    float: right;
    font-size: 16px;
}
.md-modal .md-content .ops {
    clear: both;
    text-align: center;
    padding-top: 24px;
}
.md-modal .md-content .ops .add {
    text-transform: uppercase;
    background: rgb(60, 204, 32);
    color: #fff;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    border: 1px solid rgb(21, 21, 21);
    border-bottom-width: 2px;
    border-radius: 5px;
    font-style: normal;
    font-size: 12px;
    width: 100px;
    box-shadow: 1px 1px 1px rgb(70, 156, 13);
    opacity:.8;
}
.md-modal .md-content .ops .close {
    text-transform: uppercase;
    background: rgb(160,159,159);
    color: #fff;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    border: 1px solid rgb(21, 21, 21);
    border-bottom-width: 2px;
    border-radius: 5px;
    font-style: normal;
    font-size: 12px;
    width: 100px;
    box-shadow: 1px 1px 1px rgb(21,21,21);
    opacity:.8;
}
.md-modal .md-content .ops button:hover{
    opacity:1;
}
.md-modal .md-content .detail .common p:first-child {
    font-weight: 700;
}
