#navigator {
  width: 800px;
  height: 40px;
  position: absolute;
  bottom: 40px;
}

#popular-item-list {
  border: 1px solid #e6e6e6;
  height: 325px;
  margin-bottom: 20px;
  width: 790px;
  margin-left: 8px;
  display: none;
}

.popular-item-list-title {
  font-weight: bold;
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.navigator {
  float : right;
  padding : 3px 15px;
  margin-right : -1px;
  border: 1px solid #e6e6e6;
  cursor: pointer;
}

.navigator:hover {
  background-color: #f3fbe7;
}

.item-container {
  display: inline;
  width: 188px;
  height: 300px;
  margin-left:10px;
  margin-bottom:10px;
  float: left;
  border: 1px solid #e6e6e6;
  position: relative;
  background: white;
  cursor: pointer;
}

.popular-item-container {
  display: inline;
  width: 185px;
  height: 300px;
  margin-left:10px;
  margin-bottom:10px;
  float: left;
  position: relative;
  background: white;
  cursor: pointer;
}

.item-info-wrapper {
  padding: 10px;
}

.item-image {
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 165px;
  height: 212px;
  background: #f4f4f4;
}

.item-name {
  font-weight: bold;
}

.item-price {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 2px;
}

.item-category {
  font-size: 10px;
  color: gray;
}

.btn-add-container {
  position: absolute;
  height: 40px;
  margin: -1px;
  width: 100%;
  bottom: 0px;
  border: 1px solid #e6e6e6;
  display: none;
}

.btn-add-container .bg {
  background: #e6e6e6;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.btn-add {
  margin-top: 6px;
  margin-left: 40px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.item-price img {
  display: inline-block;
  margin-left: 5px;
  position: relative;
  top: 1px;
}