article .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5) url('/static/imgs/weekly-ajax-loader.gif') no-repeat 50% 50%;
    top: 0;
    left: 0;
}
article li {
    float: left;
    list-style: none;
    width: 150px;
    position: relative;
    border-right: 1px dashed #ccc;
    overflow: hidden;
    cursor: pointer;
    margin-top: 20px;
}
article li img {
    height: 150px;
    text-align: center;
    position: absolute;
    left: 11px;
    top: -20px;
    display: none;
}
article ul {
    padding: 0;
    margin: 0;
}
article li:last-child {
    border-right: none;
}
article li .name {
    font-size: 12px;
    padding: 8px;
    height: 40px;
    overflow: hidden;
}
article li .price {
    text-align: right;
    padding-right: 16px;
    font-weight: 700;
}
article li .add {
    position: absolute;
    width: 100%;
    height: 40px;
    margin: 0;
    background: rgba(200,200,200,.5);
    bottom: -40px;
    -webkit-transition: bottom .3s;
}
article li:hover .add {
    bottom: 0;
}
article li .add i {
    position: absolute;
    text-transform: uppercase;
    background: rgb(60, 204, 32);
    color: #fff;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    border: 1px solid rgb(70, 156, 13);
    border-bottom-width: 2px;
    border-radius: 5px;
    top: 5px;
    left: 50%;
    font-style: normal;
    font-size: 12px;
    z-index: 999;
    width: 100px;
    text-align: center;
    box-shadow: 1px 1px 1px rgb(70, 156, 13);
    margin-left: -50px;
}
article li:nth-child(5n) {
    border-right: none;
}
article li .image {
    height: 100px;
    position: relative;
    overflow: hidden;
}
article li .image span {
    position: absolute;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
    font-style: italic;
}
