.item-detail-container {
	position: fixed;
	width: 600px;
	top: 140px;
	left: 50%;
	margin-left: -340px;
	border: 1px solid #e6e6e6;
	background-color: white;
	padding: 20px;
	z-index: 2;
}

.item-detail-container-left {
	float: left;
	width: 180px;
	padding: 5px;
	border-right: 1px solid #e6e6e6;
}

.item-detail-img {
	width: 180px;
	height: auto;
}

.item-detail-container-right {
	width: 380px;
	float: right;
}

.item-detail-name {
	font-size: 16px;
	margin-bottom: 20px;
}

.item-detail-price {
	font-size: 14px;
}

.item-detail-btn-add {
	margin-top: 20px;
	cursor: pointer;
}

.item-detail-btn-cancel {
	margin-left: 10px;
	cursor: pointer;
}

.book-info-container p {
	margin-top: 5px;
	font-size: 14px;
}