/* Item */
.item-in-cart {
  height : 80px;
  width : 600px;
  margin-bottom: 5px;
}
.item-in-cart:after {
  clear: both;
}
.item-in-cart > div {
  vertical-align: top;
  display: inline-block;
}
.item-in-cart-img {
  height : 70px;
  width : 70px;
  background: #d3d3d3;
}
.item-info-left {
  margin-left: 10px;
  width: 350px;
}
.item-info-left label {
    clear: left;
    margin-top: 8px;
    color: #999;
    cursor: pointer;
}
.item-info-left label input {
    margin-right: 4px;
    cursor: pointer;
}
.item-in-cart-quantity {
  width: 30px;
  margin: 0 10px 5px 5px;
  font-size: 10px;
}
.item-in-cart-count {
  font-size: 14px;
}
.item-in-cart-price {
  font-size: 14px;
  margin-left: 10px;
}

/* Store summary */
.cart-store-summary {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 10px;
}

.order-confirm-store-summary {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 10px;
}
