.table thead {
    font-weight: bold;
}
.icon-list {
    margin: 0 auto 2em auto;
}
.icon-list>div {
    margin-bottom: 1em;
    padding: 0 3em;
}
.icon-list .name {
    font-weight: bold;
}
.icon-list .detail {
    padding-left: 2em;
}
.order-status {
    float: right;
    position: relative;
    left: -50%;
    margin-bottom: 1em;
}
ul.order-status-indicator {
    list-style-type: none;
    padding: 0;
    white-space: nowrap;
    position: relative;
    left: 50%;
}
ul.order-status-indicator>li {
    float: left;
    text-align: center;
    position: relative;
    width: 120px;
    z-index: 0;
}
ul.order-status-indicator>li .connector {
    border-radius: 50%;
    background-color: #79BF49;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-top: 10px;
}
ul.order-status-indicator>li .connector:after {
    content: "";
    display: block;
    background: #79BF49;
    height: 4px;
    width: 120px;
    position: absolute;
    left: 50%;
    top: 16px;
    z-index: -1;
}
ul.order-status-indicator>li:last-of-type .connector:after {
    display: none;
}
ul.order-status-indicator>li .stepname {
    display: table-cell;
    font-size: small;
    vertical-align: bottom;
    text-align: center;
    width: 120px;
}
ul.order-status-indicator>li.active .connector {
    background-color: #569D14;
    border: 5px solid #569D14;
    background-image: url('/static/imgs/intro/rocket_icon.png');
    background-size: contain;
    background-position: center;
    height: 32px;
    width: 32px;
    margin-top: 2px;
}
ul.order-status-indicator>li.active .stepname {
    color: #569D14;
    font-size: larger;
}
.order-items {
    border-top: 1px solid #C5C2C2;
}
.order-items .toggle-strip {
    background-color: #E3E3E3;
    color: #626060;
    padding: 0.8em 0;
    cursor: pointer;
}
.order-items .table {
    width: 90%;
    margin: 1.5em auto;
}

.order-items .table tbody>tr:not(:first-child) td {
    border-top: 0;
}
.order-items .table tbody td {
    vertical-align: middle;
}

.order-items .table tbody img {
    width: 60px;
    max-height: 60px;
}
.guest-auth-form {
    padding: 0 2em 1em 2em;
}
