#store-list-container {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  margin-bottom: 20px;
}

#store-list li {
  list-style-type: none;
  background: white;
  padding: 10px 15px;
  border: 1px solid #e6e6e6;
  margin: -1px;
  cursor: pointer;
  line-height: 30px;
  height: 30px;
}

#store-title {
  font-size: 14px;
  color: white !important;
  background-color: #575757 !important;
  padding: 5px 15px !important;
  border: 1px solid #e6e6e6;
  margin: -1px;
}

#store-list li:hover {
	background-color: #f3fbe7;
}

.store-list-green-dot {
	position: relative;
	top: 7px;
	float: right;
}