table.apart td:nth-child(2) {
    text-align: right;
}
table.apart tr:nth-child(1) td {
    border-top: 0;
}

.box {
    margin: 2em auto;
    padding: 1em 3em;
    border: 0px solid #d3d3d3;
    box-shadow: 0 0 0 1px darkgray;
}

.box-bottom {
    padding-bottom: 2em;
}

.padding-horizontal-3 {
    padding: .5em 3em;
}

.title-position {
    margin: 0 0 1.5em -2em;
    padding: 1em;
}