<div class="panel panel-default invoice-row">
  <div class="panel-heading">
    <span class="pull-right">{{ invoice.when_created | date : 'fullDate' }}</span>
    <span><a href="{{ invoice.url }}">Invoice #{{ invoice.id }}</a></span>
  </div>
  <div class="panel-body">
    <table class="table text-center">
      <thead>
        <tr>
          <td>Order Number</td>
          <td>Status</td>
          <td>Store</td>
          <td>Subtotal</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="order in invoice.orders">
          <td>#{{ order.id }}</td>
          <td>{{ order.status }}</td>
          <td>{{ order.delivery_window.store.name }}</td>
          <td>{{ order.total }}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div class="text-right">
      <strong>Total</strong>
      <span>${{ invoice.subtotal }}</span>
      <span>+</span>
      <span>${{ invoice.tax }}(tax)</span>
      <span>+</span>
      <span>${{ invoice.delivery }}(delivery)</span>
      <span>=</span>
      <span>${{ invoice.total }}</span>
    </div>
  </div>
</div>
