<div>
  <div class="page-header">
    <h3>
      <i class="glyphicon glyphicon-time"></i>
      <span>Invoice</span>
      <span class="small">#{{ invoice.id }}</span>
      <div class="pull-right">
        <span class="small">Created on {{ invoice.when_created | date : 'fullDate' }}</span>
      </div>
    </h3>
  </div>
  <div class="invoice-summary">
    <table class="table apart">
      <tbody>
        <tr>
          <td>Destination</td>
          <td>{{ invoice.customer_name }} at {{ invoice.address }}, {{ invoice.postcode }}</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>{{ invoice.phone }}</td>
        </tr>
        <tr>
          <td>Payment Status</td>
          <td>{{ invoice.status }}</td>
        </tr>
        <tr>
          <td>Total Cost</td>
          <td>
            <span>${{ invoice.subtotal }}</span>
            <span>+</span>
            <span>${{ invoice.tax }}(tax)</span>
            <span>+</span>
            <span>${{ invoice.delivery }}(delivery)</span>
            <span>=</span>
            <span>${{ invoice.total }}</span>
          </td>
        </tr>
        <tr>
          <td>Last update</td>
          <td>{{ invoice.when_updated | date : 'medium' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
