{% extends "registration/base.html" %}
{% load widget_tweaks %}
{% block title %}{{ block.super }} | Reset password{% endblock %}

{% block content %}
<h1>Reset password</h1>

    {% if validlink %}
        <form action="." method="post">
            {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                <label for="id_{{ fieldname }}">{{ field.label_tag }}</label>
                {{ field|add_class:'form-control' }}
            </div>
          {% endfor %}

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Change password</button>
          </div>
        </form>
    {% else %}
        <p>
            The reset link is invalid. Please double check the link.
        </p>
    {% endif %}
{% endblock %}
