{% extends "registration/base.html" %}
{% load widget_tweaks %}
{% block title %}{{ block.super }} | Change password{% endblock %}

{% block content %}
    <h1>Change password</h1>

    <form action="." method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
              {{ field.errors }}
              <label for="id_{{ fieldname }}">{{ field.label_tag }}</label>
              {{ field|add_class:'form-control' }}
          </div>
        {% endfor %}
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Change password</button>
          <a href="{% url 'profile' %}" type="button" class="btn btn-default">Back</a>
        </div>
    </form>
{% endblock %}
