{% extends "registration/base.html" %}
{% load widget_tweaks %}
{% block title %}Change profile{% endblock %}

{% block content %}
    <h1>Change profile</h1>

    <form action="." method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
              {{ field.errors }}
              <label for="id_{{ fieldname }}">{{ field.label_tag }}</label>
              {{ field|add_class:'form-control' }}
          </div>
        {% endfor %}
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Change profile</button>
          <button type="button" class="btn btn-default" onclick="history.back()">Back</button>
        </div>
    </form>
{% endblock %}
