{% extends "registration/base.html" %}
{% load widget_tweaks %}
{% block title %}{{ block.super }} | Your profile{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>Welcome back, {{ user }}!
      <small>your profile</small>
    </h1>
  </div>
  <table class="table">
    <tr>
      <td>First Name</td>
      <td id="id_firstname">{{firstname}}</td>
    </tr>
    {% if lastname %}
    <tr>
      <td>Last Name</td>
      <td id="id_lastname">{{lastname}}</td>
    </tr>
    {% endif %}
    <tr>
      <td>Email</td>
      <td id="id_email">{{email}}</td>
    </tr>
    <tr>
      <td>Phone Number</td>
      <td id="id_phone">{{phone}}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td id="id_address">{{address}}</td>
    </tr>
    <tr>
      <td>Postal Code</td>
      <td id="id_postcode">{{postcode}}</td>
    </tr>
  </table>
  <div class="btn-group">
    <a href="{% url 'order:cart' %}" class="btn btn-primary" role="button">Go to Cart</a>
  </div>

  <div class="btn-group">
    <a href="{% url 'profile_change' %}" class="btn btn-default" role="button">Update profile</a>
    <a href="{% url 'password_change' %}" class="btn btn-default" role="button">Change password</a>
  </div>
  <div class="btn-group">
    <a href="{% url 'logout' %}" class="btn btn-default" role="button">Logout</a>
  </div>
{% endblock %}
