{% extends "registration/base.html" %}
{% load widget_tweaks %}
{% block title %}{{ block.super }} | Sign up{% endblock %}

{% block content %}
<div class="container width-60 box">
  <div class="panel-title title-position">
    <i class="glyphicon glyphicon-user"></i>
    Create an account
  </div>

  {% if form.errors %}
  <p>Please correct the errors below:
    {% if form.non_field_errors %}
    <div id="errors" class="alert alert-warning">
    {{ form.non_field_errors }}
    </div>
    {% endif %}
  </p>
  {% endif %}

  <form method="post" action="" class="form-horizontal" role="form">
	{% csrf_token %}
    <div class="form-group">
      <label for="id_username" class="col-sm-3 control-label">Username:</label>
      <div class="col-sm-8">
        {{ form.username|add_class:"form-control" }}
        {% if form.username.errors %}
          <p class="errors">{{ form.username.errors.as_text }}</p>
        {% endif %}
      </div>
    </div>
    <div class="form-group">
      <label for="id_email" class="col-sm-3 control-label">Email address:</label>
      <div class="col-sm-8">
        {{ form.email|add_class:"form-control" }}
        {% if form.email.errors %}
          <p class="errors">{{ form.email.errors.as_text }}</p>
        {% endif %}
      </div>
    </div>
    <div class="form-group">
      <label for="id_password1" class="col-sm-3 control-label">Password:</label>
      <div class="col-sm-8">
        {{ form.password1|add_class:"form-control" }}
        {% if form.password1.errors %}
          <p class="errors">{{ form.password1.errors.as_text }}</p>
        {% endif %}
      </div>
    </div>
    <div class="form-group">
      <label for="id_password2" class="col-sm-3 control-label">Password <br/> (type again):</label>
      <div class="col-sm-8">
        {{ form.password2|add_class:"form-control" }}
        {% if form.password2.errors %}
          <p class="errors">{{ form.password2.errors.as_text }}</p>
        {% endif %}
      </div>
    </div>
    <div class="form-group">
      <label for="id_firstname" class="col-sm-3 control-label">First name:</label>
      <div class="col-sm-8">
        {{ form.firstname|add_class:"form-control" }}
        {% if form.firstname.errors %}
          <p class="errors">{{ form.firstname.errors.as_text }}</p>
        {% endif %}
      </div>
    </div>
    <div class="form-group">
      <label for="id_lastname" class="col-sm-3 control-label">Last name:</label>
      <div class="col-sm-8">
        {{ form.lastname|add_class:"form-control" }}
        {% if form.lastname.errors %}
          <p class="errors">{{ form.lastname.errors.as_text }}</p>
        {% endif %}
      </div>
    </div>
    <div class="form-group">
      <label for="id_phone" class="col-sm-3 control-label">Phone number:</label>
      <div class="col-sm-8">
        {{ form.phone|add_class:"form-control" }}
        {% if form.phone.errors %}
          <p class="errors">{{ form.phonenum.errors.as_text }}</p>
        {% endif %}
      </div>
    </div>
    <div class="form-group">
      <label for="id_address" class="col-sm-3 control-label">Address:</label>
      <div class="col-sm-8">
        {{ form.address|add_class:"form-control" }}
        {% if form.address.errors %}
          <p class="errors">{{ form.address.errors.as_text }}</p>
        {% endif %}
      </div>
    </div>
    <div class="form-group">
      <label for="id_postcode" class="col-sm-3 control-label">Postal Code:</label>
      <div class="col-sm-8">
        {{ form.postcode|add_class:"form-control" }}
        {% if form.postcode.errors %}
          <p class="errors">{{ form.postcode.errors.as_text }}</p>
        {% endif %}
      </div>
    </div>
    <div class="form-group text-center">
      <input class="btn btn-primary padding-horizontal-3" type="submit" value="Register">
      <input class="btn btn-default padding-horizontal-3" type="button" value="Back" onclick="history.back()">
    </div>
  </form>
</div>
{% endblock %}

{% block content-related %}
<p>Fill out the form to the left (all fields are required), and your
account will be created; you'll be sent an email with instructions on how
to finish your registration.</p>

<p>We'll only use your email to send you signup instructions. We hate spam
as much as you do.</p>

<p>This account will let you log into the ticket tracker, claim tickets,
and be exempt from spam filtering.</p>
{% endblock %}
