<div class="order-detail">
  <div>
    <h4>
      <i class="glyphicon glyphicon-list"></i>
      <span>Order</span>
      <span class="small">#{{ order.id || 'Loading...' }}</span>
    </h4>
  </div>
  <div ng-order-status="order.status"></div>
  <table class="table apart">
    <tbody>
      <tr ng-if="order.delivery_buckets.length == 0">
        <td>Delivery window</td>
        <td>
          {{ order.delivery_window.start | date: 'shortTime' }} ~ {{ order.delivery_window.end | date: 'shortTime' }} ({{ order.delivery_window.start | date: 'fullDate' }})
        </td>
      </tr>
      <tr ng-if="order.delivery_buckets.length != 0" ng-init="delivery_bucket=order.delivery_buckets[order.delivery_buckets.length - 1]">
        <td>Estimated delivery time</td>
        <td>
          {{ delivery_bucket.start | date: 'shortTime' }} ~ {{ delivery_bucket.end | date: 'shortTime' }} ({{ delivery_bucket.start | date: 'fullDate' }})
        </td>
      </tr>
      <tr>
        <td>Subtotal</td>
        <td>
          <span>${{ order.subtotal }}</span>
          <span>+</span>
          <span>${{ order.tax }}(tax)</span>
          <span>=</span>
          <span>${{ order.total }}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="order-items">
    <div ng-repeat="order_item in order.order_items">
      <div ng-order-item-row="order_item"></div>
    </div>
  </div>
</div>
